<div class="card card-body">
  <!-- 活动详情 -->
  <div class="fz-20 mb-8">{{ 'member.activity.sencli12.campaignDetails' | lang }}</div>

  <ng-container [formGroup]="formGroup" *ngIf="formGroup">
    <lang-tab #langTab formArrayName="lang" [(value)]="selectLang" [edit]="false">
      <ng-template let-control="formControl">
        <div [formGroup]="control">
          <!-- 标题 -->
          <form-row name="title" [label]="'common.title' | lang" label-width="180" required>
            <ng-template let-control="formControl">
              {{ control.value || '-' }}
            </ng-template>
          </form-row>

          <!-- 副标题 -->
          <form-row name="subTitle" [label]="'member.activity.sencli12.subName' | lang" label-width="180">
            <ng-template let-control="formControl">
              {{ control.value || '-' }}
            </ng-template>
          </form-row>

          <!-- T & C -->
          <form-row name="tc" [label]="'T & C'" label-width="180" required>
            <ng-template let-control="formControl">
              <div class="word-break lh-1 pt-5" [innerHTML]="control.value || '-'"></div>
            </ng-template>
          </form-row>
        </div>
      </ng-template>
    </lang-tab>
  </ng-container>

  <div class="pl-8 mt-5">
    <!-- 营销图 -->
    <form-row [label]="'member.activity.sencli12.thumbnails' | lang" label-width="180">
      <ng-template>
        <upload [style.height.px]="180" [readonly]="true" [value]="stepOneInfo?.thumbnails"> </upload>
      </ng-template>
    </form-row>

    <!-- 产品 -->
    <form-row [label]="'member.activity.sencli12.product' | lang" [label-width]="180">
      <ng-template>
        {{ stepTwoInfo?.provider || '-' }}
      </ng-template>
    </form-row>

    <!-- 类型 -->
    <form-row [label]="'common.type' | lang" [label-width]="180">
      <ng-template>
        {{ 'Tournament' }}
      </ng-template>
    </form-row>

    <!-- 开始/结束时间 -->
    <form-row [label]="'member.activity.sencli12.startEndDate' | lang" [label-width]="180">
      <ng-template> {{ stepTwoInfo?.tmpStartTime || '-' }}~{{ stepTwoInfo?.tmpEndTime || '-' }} </ng-template>
    </form-row>

    <!-- 通知时间 -->
    <form-row [label]="'member.activity.sencli12.notificationTime' | lang" label-width="180">
      <ng-template>
        <div class="d-flex flex-ac">
          <!-- 活动开始前几小时 -->
          <div class="d-flex flex-ac mr-20">
            <span>{{ stepTwoInfo?.tmpBeginShowHours }}H</span>
            <div class="ml-6 color-aaa">{{ 'member.activity.sencli12.hoursBeforeTheCampaign' | lang }}</div>
          </div>

          <!-- 活动结束后几小时 -->
          <div class="d-flex flex-ac mr-10">
            <span>{{ stepTwoInfo?.tmpEndShowHours }}H</span>
            <div class="ml-6 color-aaa">{{ 'member.activity.sencli12.hoursafterTheCampaign' | lang }}</div>
          </div>
        </div>
      </ng-template>
    </form-row>

    <!-- 条件 -->
    <form-row [label]="'member.activity.sencli12.criteria' | lang" label-width="180">
      <ng-template>
        {{ lang.isLocal ? getCriteria(stepTwoInfo?.rankType)?.name : getCriteria(stepTwoInfo?.rankType)?.lang }}
      </ng-template>
    </form-row>

    <!-- 最低下注金额 -->
    <form-row [label]="'member.activity.sencli12.minbet' | lang" label-width="180">
      <ng-template>
        <div class="d-flex flex-ac">
          {{ stepTwoInfo?.minBetUsdt | currencyValue: true }}
          <img class="ml-2" [currencyIcon]="'USDT'" />
        </div>
      </ng-template>
    </form-row>

    <!-- 游戏列表 -->
    <form-row [label]="'member.activity.sencli12.gameList' | lang" label-width="180">
      <ng-template>
        <!-- 标签 -->
        <form-row [label]="'member.activity.sencli12.byLabel' | lang" label-width="120" class="pt-0 mb-2">
          <ng-template>
            <div class="d-flex flex-ac flex-wrap" style="gap: 8px">
              <div
                class="d-flex flex-ac px-5 h42"
                style="background: #f5f8fa; border-radius: 6px"
                *ngFor="let item of selectedLabelList"
              >
                <img class="lh-1 pr-4" *ngIf="item?.icon" [src]="item.icon | host" width="18" height="18" />
                {{ item?.name || '-' }}
              </div>

              <div *ngIf="!selectedLabelList.length">-</div>
            </div>
          </ng-template>
        </form-row>
        <!-- 游戏 -->
        <form-row [label]="'member.activity.sencli12.byGameCode' | lang" label-width="120" class="pt-0 mb-2">
          <ng-template>
            <div class="d-flex flex-ac flex-wrap" style="gap: 8px">
              <div
                class="d-flex flex-ac px-5 h42"
                style="background: #f5f8fa; border-radius: 6px"
                *ngFor="let item of selectedGameList"
              >
                {{ item?.name || '-' }}
              </div>

              <div *ngIf="!selectedGameList.length">-</div>
            </div>
          </ng-template>
        </form-row>
      </ng-template>
    </form-row>

    <!-- 国家限制 -->
    <form-row [label]="'member.activity.sencli12.countryRestrictions' | lang" label-width="180">
      <ng-template>
        <div class="d-flex flex-ac flex-wrap" style="gap: 8px">
          <div
            class="d-flex flex-ac px-5 h42"
            style="background: #f5f8fa; border-radius: 6px"
            *ngFor="let item of selectCountryList"
          >
            <i class="pr-4" [iconCountry]="item.countryEnName"></i>
            {{ lang.isLocal ? item.countryName : item.countryEnName }}
          </div>

          <div *ngIf="!selectCountryList.length">-</div>
        </div>
      </ng-template>
    </form-row>

    <!-- 玩家限制 -->
    <form-row [label]="'member.activity.sencli12.playerRestrictions' | lang" label-width="180">
      <ng-template>
        <div style="word-break: break-all">
          {{
            stepTwoInfo?.uidType === 1
              ? ('member.activity.sencli12.whitelistPlayer' | lang) + '：'
              : stepTwoInfo?.uidType === 2
                ? ('member.activity.sencli12.blacklistPlayer' | lang) + '：'
                : ''
          }}
          {{ memberManualRemark || '-' }}
        </div>
      </ng-template>
    </form-row>

    <!-- 参与者排行榜 -->
    <form-row [label]="'member.activity.sencli12.participants' | lang" label-width="180">
      <ng-template>
        <div class="text-primary cursor-pointer text-decoration-underline" (click)="onOpenLeaderboard()">
          Leaderboard
        </div>
      </ng-template>
    </form-row>
  </div>
</div>

<div class="card card-body mt-8">
  <div class="d-flex flex-ac justify-content-between">
    <!-- 参与游戏概况 -->
    <div class="fz-20">{{ 'member.activity.sencli12.qualifyingGames' | lang }}</div>
    <div class="d-flex flex-ac">
      <!-- 国家选择 -->
      <form-row [label]="'common.country' | lang" class="mr-8">
        <ng-template>
          <mat-form-field>
            <mat-select
              class="form-control"
              [(ngModel)]="countryCode"
              (selectionChange)="getQualifyingGamesList(true)"
              *search="let searchList$ of subHeaderService.countryList; key: 'countryName'"
            >
              <input type="search" searchInput />
              <mat-option *ngFor="let item of searchList$ | async" [value]="item?.countryIso3">
                {{ lang.isLocal ? item.countryName : item.countryEnName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </form-row>
      <!-- 下载 -->
      <button type="button" class="c-btn c-btn-primary h42" (click)="onExport()">
        <svg-icon [src]="'./assets/images/svg/export.svg'" class="svg-icon svg-icon-xl mr-2"></svg-icon>
        {{ 'common.download' | lang }}
      </button>
    </div>
  </div>

  <div class="flex-fill mt-10">
    <table class="table mb-0">
      <thead>
        <tr>
          <!-- 游戏名称 -->
          <th>
            <span class="cell">{{ 'game.provider.game_name' | lang }}</span>
          </th>
          <!-- 流水 -->
          <th>
            <span class="cell">
              <span class="cursor-pointer">
                <span>{{ 'member.activity.sencli12.turnover' | lang }}</span>
                <!-- <span class="triangle d-inline-block">
                  <div class="triangle-up" [class.active]="sortData.order === 'startTime' && sortData.isAsc"></div>
                  <div class="triangle-down" [class.active]="sortData.order === 'startTime' && !sortData.isAsc"></div>
                </span> -->
              </span>
            </span>
          </th>
          <!-- 参与玩家 -->
          <th>
            <span class="cell">
              <span class="cursor-pointer">
                <span>{{ 'member.activity.sencli12.players' | lang }}</span>
                <!-- <span class="triangle d-inline-block">
                  <div class="triangle-up" [class.active]="sortData.order === 'endTime' && sortData.isAsc"></div>
                  <div class="triangle-down" [class.active]="sortData.order === 'endTime' && !sortData.isAsc"></div>
                </span> -->
              </span>
            </span>
          </th>
          <!-- 总旋转次数 -->
          <th>
            <span class="cell">
              <span class="cursor-pointer">
                <span>{{ 'member.activity.sencli12.spins' | lang }}</span>
                <!-- <span class="triangle d-inline-block">
                  <div class="triangle-up" [class.active]="sortData.order === 'endTime' && sortData.isAsc"></div>
                  <div class="triangle-down" [class.active]="sortData.order === 'endTime' && !sortData.isAsc"></div>
                </span> -->
              </span>
            </span>
          </th>
          <!-- GGR - (商户输赢，USDT统计) -->
          <th>
            <span class="cell">
              <span class="cursor-pointer">
                <span>{{ 'GGR' }}</span>
                <!-- <span class="triangle d-inline-block">
                  <div class="triangle-up" [class.active]="sortData.order === 'endTime' && sortData.isAsc"></div>
                  <div class="triangle-down" [class.active]="sortData.order === 'endTime' && !sortData.isAsc"></div>
                </span> -->
              </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>
            <span class="cell">{{ item.gameName || '-' }}</span>
          </td>
          <td>
            <span class="cell"
              >{{ item.totalActiveFlowUsdt | currencyValue: true }} <img class="ml-2" [currencyIcon]="'USDT'"
            /></span>
          </td>
          <td>
            <span class="cell">{{ item.joinNumber | toFormatMoney }}</span>
          </td>
          <td>
            <span class="cell">{{ item.betTimes | toFormatMoney }}</span>
          </td>
          <td>
            <span class="cell">{{ item.ggr | currencyValue: true }} <img class="ml-2" [currencyIcon]="'USDT'" /></span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 空显示 -->
    <empty *ngIf="!list.length"></empty>

    <!-- 页码 -->
    <div class="d-flex flex-between pt-10 table-footer" *ngIf="list.length > 0">
      <div>
        <mat-form-field [style.width.px]="76">
          <mat-select
            class="form-control"
            [(ngModel)]="paginator.pageSize"
            [style.height.px]="34"
            [style.font-size.px]="14"
            (selectionChange)="getQualifyingGamesList(true)"
          >
            <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <app-paginator
          class="paginator d-flex justify-content-between align-items-center flex-wrap py-0"
          [paginator]="paginator"
          (paginate)="getQualifyingGamesList()"
        ></app-paginator>
      </div>
    </div>
  </div>
</div>

<div class="btn-wrap pt-14 flex-center d-flex">
  <button type="button" class="c-btn c-btn-primary ml-0" (click)="router.navigate(['/bonus/activity-manage/NewRank'])">
    {{ 'common.back' | lang }}
  </button>
</div>
