:host {
  .copy {
    color: #009ef7;
    cursor: pointer;
    text-decoration: underline;
  }
}

.baseInfo-box {
  width: 100%;
  border: 1px solid #eff2f5;
  border-radius: 4px;
  .box-items {
    border-bottom: 1px solid #eff2f5;
    .item {
      border-right: 1px solid #eff2f5;
      &:last-child {
        border-right: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}