.checkbox-list {
  margin-top: 20px;
  max-height: 340px;
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    background: #e9edf1;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  .item {
    height: 40px;
    flex: 0 0 40px;
  }
}

.btn-footer {
  height: 62px;
  border-top: 1px solid #f5f8fa;
}

.empty {
  color: #a1a5b7;
  justify-content: center;
}

.hd {
  height: 70px;
  line-height: 70px;
  padding: 20px 25px;
  border-bottom: 1px solid #eff2f5;
}
