.old-platform {
  padding: 5px 4px;
  background-color: var(--primary-color-70);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;

  @media (max-width: 1174px) {
    position: absolute;
    right: 0;
    top: 76px;
    z-index: 999;
  }
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.img-wrapper {
  background-color: #fff;
  padding: 7px;
  border-radius: 4px;
  min-width: 64px;
}

.text {
  font-size: 12px;
  padding: 0 6px;
  color: #fff;
}

.icon-close-simple {
  &:before {
    color: #fff;
  }

  display: none;

  @media (max-width: 1174px) {
    display: block;
  }
}
