:host {
  display: block;
  background: #fff;
  border-radius: 6px;
  flex: 1;
}

.plan {
  &-setting {
    margin-top: 10px;
    padding: 15px 26px;
    border-top: 1px dashed #e4e6ef;

    .suffix {
      flex: 0 0 14px;
    }
  }

  &-btn {
    min-width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #f5f8fa;
    color: #7e8299;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 8px;

    &:hover {
      color: #199ef7;
    }

    &.active {
      background: #199ef7;
      color: #fff;
    }
  }
}

.nav-tab {
  color: #7e8299;
  display: flex;

  &-wrap {
    position: relative;
    padding: 0 16px;
    display: inline-block;
    height: 32px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:after {
      content: '';
      height: 2px;
      width: 100%;
      background: #eff2f5;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-item {
    padding-bottom: 7px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    z-index: 1;

    &.active {
      color: #181c32;
      border-bottom: 2px solid #009ef7;
    }
  }
}

.table {
  th,
  td {
    line-height: 40px;
    color: #373a49;
    padding: 0;

    .cell {
      min-height: 40px;
    }
  }

  tbody td {
    border: 0;
  }
}

::ng-deep {
  .share-pic-config-modal.modal {
    overflow-x: auto;

    .modal-dialog {
      max-width: 1200px;
      min-width: 1140px;
    }

    .modal-content {
      margin: 0 30px;
    }

    .tab-group {
      .mat-tab-label {
        height: 50px;
        opacity: 1;
        min-width: 60px;
        padding: 0;
        font-weight: 400;

        &-active {
          .mat-tab-label-content {
            color: #009ef7;
          }
        }

        .mat-tab-label-content {
          font-size: 16px;
        }
      }

      .mat-tab-header {
        position: relative;
        border: 0;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          border-bottom: 4px solid #eff2f5;
        }
      }

      .mat-ink-bar {
        height: 4px;
      }

      .mat-tab-body-content {
        padding: 5px 0 !important;
        font-size: 16px;
      }
    }
  }
}

.modal-body {
  width: 100%;
}

.tab {
  min-width: 0;

  &-hd {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    border: 0;

    &-item {
      width: 90px;
      height: 38px;
      flex: 0 0 90px;
      min-width: 90px;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      color: #373a49;
      cursor: pointer;
      border: 1px solid transparent;
    }

    &::ng-deep {
      .mat-ink-bar {
        display: none;
      }

      .mat-tab-label-active {
        border: 1px solid #eff2f5;
        border-bottom: 1px solid #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #009ef7;
      }

      .mat-tab-link:not(.mat-tab-disabled) {
        opacity: 1;
      }
    }
  }

  &-bd {
    padding: 10px 10px 20px;
    margin-top: -1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #eff2f5;
  }

  &-content {
    padding: 38px 0 0;
    margin: 0 15px;
    flex: 1;

    &-wrap {
      display: flex;
      padding: 0 15px;
    }

    upload {
      width: 100%;
    }
  }
}
