.list-container {
  width: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  .list-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      flex: 1;
      padding: 16px 10px;
      word-wrap: break-word;
      white-space: nowrap;
      font-weight: bold;
      &:first-child {
        text-align: left;
      }
      @media (min-width: 768px) {
        &:nth-child(n + 2) {
          text-align: center;
        }
        &:nth-child(n + 3) {
          text-align: right;
        }
      }
      @media (max-width: 767px) {
        &:nth-child(n + 2) {
          text-align: center;
        }
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.text-14 {
  font-size: 14px;
  color: var(--text-color-20);
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  .skeleton-row {
    display: grid;
    column-gap: 20px;
    padding: 16px 10px;
    &:nth-child(even) {
      background-color: #f8f8f8;
      :host-context(.dark) & {
        background-color: #243845;
      }
    }
  }
  .skeleton-loading {
    width: 100%;
    height: 20px;
    &:host-context(.dark) & {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}
