<div class="list">
  <div class="card-body">
    <div class="flex-fill mt-2">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>
              <span class="cell">{{ 'member.kyc.model.coding' | lang }}</span>
            </th>
            <!-- 认证内容 -->
            <th>
              <span class="cell">{{ 'member.kyc.model.authenticationContent' | lang }}</span>
            </th>
            <!-- 标题 -->
            <th>
              <span class="cell">{{ 'member.kyc.model.title' | lang }}</span>
            </th>
            <!-- 操作-->
            <th>
              <span class="cell">{{ 'member.kyc.model.operating' | lang }}</span>
            </th>
          </tr>
        </thead>

        <tbody class="color-222">
          <tr *ngFor="let item of list; let i = index">
            <td>
              <span class="cell">{{ i + 1 }}</span>
            </td>
            <td>
              <span class="cell" [ngSwitch]="item.kycType">
                <span *ngSwitchCase="'Other'">{{ 'luckRoulette.notVer' | lang }}</span>
                <span *ngSwitchCase="'KycPrimary'">{{ 'member.kyc.basis' | lang }}</span>
                <span *ngSwitchCase="'KycIntermediat'">{{ 'member.kyc.middle' | lang }}</span>
                <span *ngSwitchCase="'KycAdvanced'">{{ 'member.kyc.adv' | lang }}</span>
              </span>
            </td>
            <td>
              <span class="cell">{{ item.title || '-' }}</span>
            </td>
            <td>
              <span class="cell">
                <span class="btn btn-default mx-2 px-6" (click)="onEdit(item)">{{
                  'member.kyc.model.edit' | lang
                }}</span>
                <span class="btn btn-default mx-2 px-6" (click)="onDetail(detailTpl, item)">{{
                  'member.kyc.model.detail' | lang
                }}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- 空显示 -->
      <div class="container-empty" *ngIf="!list.length && !isLoading">
        <div>
          <svg-icon [src]="'./assets/images/svg/icon-empty.svg'" class="svg-icon menu-icon"></svg-icon>
          <div class="txt">{{ 'common.emptyText' | lang }}</div>
        </div>
      </div>

      <!-- 页码 -->
      <div class="d-flex flex-between pt-10 table-footer" *ngIf="list.length > 0 && !isLoading">
        <div>
          <mat-form-field [style.width.px]="68">
            <mat-select
              class="form-control"
              [(ngModel)]="paginator.pageSize"
              [style.height.px]="34"
              [style.font-size.px]="14"
              (selectionChange)="loadData()"
            >
              <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="paginator.total">
          <app-paginator
            class="paginator d-flex justify-content-between align-items-center flex-wrap py-0"
            [paginator]="paginator"
            (paginate)="loadData()"
          ></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 详情 -->
<ng-template #detailTpl let-d="dismiss" let-c="close">
  <div class="modal-header">
    <div class="modal-title">{{ 'member.kyc.model.detail' | lang }}</div>

    <div class="c-btn-close" (click)="d()">
      <svg-icon [src]="'./assets/images/svg/admin-close.svg'" class="svg-icon"></svg-icon>
    </div>
  </div>

  <div class="px-12 py-8">
    <div class="lh-22 border-wrap px-8">
      <div class="d-flex py-4">
        <div class="flex-1">
          <!-- 商户： -->
          <div class="color-999">{{ 'member.kyc.model.merchant' | lang }}</div>
          <div class="fz-16">{{ detailData.tenantName }}</div>
        </div>
        <div class="flex-1 border-left pl-4">
          <div class="color-999">{{ 'member.kyc.model.chinaReq' | lang }}</div>
          <!-- 国籍、身份账号、姓名 -->
          <div class="fz-16">{{ 'member.kyc.model.personInfo' | lang }}</div>
        </div>
      </div>
      <div class="d-flex py-4 border-top">
        <div class="flex-1">
          <!-- 级别 -->
          <div class="color-999">{{ 'member.kyc.model.Level' | lang }}</div>
          <div class="fz-16" [ngSwitch]="detailData.kycType">
            <ng-template [ngSwitchCase]="'Other'">{{ 'luckRoulette.notVer' | lang }}</ng-template>
            <ng-template [ngSwitchCase]="'KycPrimary'">{{ 'member.kyc.basis' | lang }}</ng-template>
            <ng-template [ngSwitchCase]="'KycIntermediat'">{{ 'member.kyc.middle' | lang }}</ng-template>
            <ng-template [ngSwitchCase]="'KycAdvanced'">{{ 'member.kyc.adv' | lang }}</ng-template>
          </div>
        </div>
        <div class="flex-1 border-left pl-4">
          <!-- 海外要求： -->
          <div class="color-999">{{ 'member.kyc.model.overseasReq' | lang }}</div>
          <div class="fz-16">{{ 'member.kyc.model.personInfo' | lang }}</div>
        </div>
      </div>
    </div>

    <div class="mt-8">
      <!-- 标题配置 -->
      <div class="fz-16 lh-22 fw-bolder">{{ 'member.kyc.model.titleConfiguration' | lang }}</div>
      <div class="mt-4 border-wrap px-8 py-5" *ngFor="let item of detailData.titles; let i = index">
        <div class="color-999">{{ 'member.kyc.model.title' | lang }}：</div>
        <div class="fz-16">{{ item.content }}</div>
      </div>
    </div>

    <div class="mt-8">
      <div class="fz-16 lh-22 fw-bolder">{{ 'member.kyc.model.featuresAndRestrictions' | lang }}</div>
      <div class="mt-4 border-wrap py-5 d-flex">
        <div class="px-8 flex-1">
          <!-- 法币限额： -->
          <div class="fz-16 fw-bolder">{{ 'member.kyc.model.FiatCurrencylimit' | lang }}</div>
          <div class="pl-4 mt-5">
            <!-- 购买加密货币 -->
            <div class="color-999">{{ 'member.kyc.model.buyBtc' | lang }}：</div>
            <div class="fz-16">
              ${{ detailData.fiatToVirtualLimit | currencyValue: 'USDT' }}/{{ 'member.kyc.model.day' | lang }}
            </div>
          </div>
          <div class="pl-4 mt-5">
            <!-- 充值 -->
            <div class="color-999">{{ 'member.kyc.model.recharge' | lang }} :</div>
            <div class="fz-16">
              ${{ detailData.fiatDepositLimit | currencyValue: 'CNY' }}/{{ 'member.kyc.model.day' | lang }}
            </div>
          </div>
          <div class="pl-4 mt-5">
            <!-- 提现： -->
            <div class="color-999">{{ 'member.kyc.model.withdraw' | lang }}</div>
            <div class="fz-16">
              ${{ detailData.fiatWithdrawLimit | currencyValue: 'CNY' }}/{{ 'member.kyc.model.day' | lang }}
            </div>
          </div>
        </div>
        <div class="px-8 border-left flex-1">
          <!-- 数字货币限额： -->
          <div class="fz-16 fw-bolder">{{ 'member.kyc.model.digitalCurrencyLimit' | lang }}</div>
          <div class="pl-4 mt-5">
            <div class="color-999">{{ 'member.kyc.model.recharge' | lang }} :</div>
            <div class="fz-16">
              ${{ detailData.virtualDepositLimit | currencyValue: 'USDT' }}/{{ 'member.kyc.model.day' | lang }}
            </div>
          </div>
          <div class="pl-4 mt-5">
            <div class="color-999">{{ 'member.kyc.model.withdraw' | lang }}</div>
            <div class="fz-16">
              ${{ detailData.virtualWithdrawLimit | currencyValue: 'USDT' }}/{{ 'member.kyc.model.day' | lang }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer btn-wrap">
    <button type="button" class="c-btn btn btn-light" (click)="d()">{{ 'common.back' | lang }}</button>
  </div>
</ng-template>
