<div class="bg-fff rounded py-8 px-12 d-flex flex-wrap">
  <!-- 订单号 -->
  <form-row [label]="'common.orderNum' | lang" class="mr-16" [contentWidth]="200">
    <ng-template>
      <input
        type="text"
        class="form-control w-100"
        [(ngModel)]="data.orderNum"
        (keyup)="$event.key === 'Enter' && loadData(true)"
      />
    </ng-template>
  </form-row>

  <!-- 用户ID -->
  <form-row [label]="'payment.merchantFunding.userID' | lang" class="mr-16" [contentWidth]="140">
    <ng-template>
      <input
        type="text"
        class="form-control w-100"
        [(ngModel)]="data.uid"
        (keyup)="$event.key === 'Enter' && loadData(true)"
      />
    </ng-template>
  </form-row>

  <!-- 商户 -->
  <form-row [label]="'common.merchant' | lang" class="mr-16" [contentWidth]="140">
    <ng-template>
      <mat-form-field [style.width.px]="130">
        <mat-select class="form-control" [(ngModel)]="data.merchant" (selectionChange)="loadData(true)">
          <mat-option [value]="''">{{ 'common.all' | lang }}</mat-option>
          <mat-option *ngFor="let item of subHeaderService.merchantListAll" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </form-row>

  <!-- 日期 -->
  <form-row [label]="'common.date' | lang" class="mr-12">
    <ng-template>
      <input
        class="text-center form-control"
        [style.width.px]="200"
        type="text"
        [placeholder]="'common.dateTips' | lang"
        selectMode="date-range"
        formatLabel="yyyy-MM-dd"
        rangeSeparator="-"
        [owlDateTime]="picker"
        [owlDateTimeTrigger]="picker"
        [(ngModel)]="data.time"
        (dateTimeChange)="loadData(true)"
      />
      <owl-date-time pickerType="calendar" class="fz-20" #picker></owl-date-time>
    </ng-template>
  </form-row>

  <div class="btn-wrap py-2">
    <button class="c-btn c-btn-default" (click)="onReset()">{{ 'common.reset' | lang }}</button>
    <button class="c-btn c-btn-primary" (click)="loadData(true)">{{ 'common.confirm' | lang }}</button>
  </div>
</div>

<!-- 表格 -->
<div class="card px-12 py-10 mt-8">
  <div class="d-flex flex-ac pb-4">
    <div class="fz-20 fw-bolder text-nowrap mr-4 flex-1">{{ 'nav.exchangeRecord' | lang }}</div>

    <div>
      <!-- 导出 -->
      <!--      <button (click)="onExport()" class="btn btn-light-primary px-9 fz-14 py-2 ml-4 mb-2" type="button">-->
      <!--        <svg-icon [src]="'./assets/images/svg/admin-export.svg'" class="svg-icon svg-icon-xl"></svg-icon>-->
      <!--        <span class="vam">{{ 'common.export' | lang }}</span>-->
      <!--      </button>-->
    </div>
  </div>

  <table class="table mb-0">
    <thead theadAffix>
      <tr>
        <!-- 商户 -->
        <th>
          <span class="cell">{{ 'common.merchant' | lang }}</span>
        </th>
        <!-- 用户ID -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.userID' | lang }}</span>
        </th>
        <!-- 商户订单号 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.merchantOrder' | lang }}</span>
        </th>
        <!-- 买入货币 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.buyCurrency' | lang }}</span>
        </th>
        <!-- 卖出货币 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.sellCurrency' | lang }}</span>
        </th>
        <!-- 市场汇率 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.marketRate' | lang }}</span>
        </th>
        <!-- 汇率 -->
        <th>
          <span class="cell">{{ 'payment.approval.exchangeRate' | lang }}</span>
        </th>
        <!-- 汇差 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.difference' | lang }}</span>
        </th>
        <!-- USDT汇率 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.usdtRate' | lang }}</span>
        </th>
        <!-- USDT数量 -->
        <th>
          <span class="cell">{{ 'payment.merchantFunding.usdtNum' | lang }}</span>
        </th>
        <!-- 交易时间 -->
        <th>
          <span class="cell">{{ 'common.transactionTime' | lang }}</span>
        </th>
      </tr>
    </thead>

    <tbody class="color-222">
      <tr *ngFor="let item of list">
        <!-- 商户Id -->
        <td>
          <span class="cell">{{ item.merchantId | merchantName }}</span>
        </td>
        <!-- 用户ID -->
        <td>
          <span class="cell">{{ item.merchantUserAccount }}</span>
        </td>
        <!-- 商户订单编号 -->
        <td>
          <span class="cell">{{ item.merchantOrderId }}</span>
        </td>
        <!-- 买入币种 -->
        <td>
          <span class="cell">{{ item.buyCurrency }}</span>
        </td>
        <!-- 卖出币种 -->
        <td>
          <span class="cell">{{ item.sellCurrency }}</span>
        </td>
        <!-- 实时汇率 -->
        <td>
          <span class="cell">
            {{ item.realRate | currencyValue : 'USDT' }}
          </span>
        </td>
        <!-- 汇率 -->
        <td>
          <span class="cell">
            {{ item.rate | currencyValue : 'USDT' }}
          </span>
        </td>
        <!-- 汇差 -->
        <td>
          <span class="cell">
            <span>
              {{ item.exchangeProfitAmount | currencyValue : item.exchangeProfitCurrency }}
              {{ item.exchangeProfitCurrency }}
            </span>
          </span>
        </td>
        <!-- USDT汇率 -->
        <td>
          <span class="cell">{{ item.usdtRate }}</span>
        </td>
        <!-- USDT数量 -->
        <td>
          <span class="cell">{{ item.usdtAmount | currencyValue : 'USDT' }}</span>
        </td>
        <!-- 交易时间 -->
        <td>
          <span class="cell">{{ item.createdTime | timeUTCFormat }}</span>
        </td>
      </tr>
    </tbody>

    <tfoot *ngIf="list.length">
      <tr>
        <td colspan="11">
          <span class="cell">
            <!-- 当页统计 -->
            <span class="mx-4">
              <span class="vam"
                >{{ 'common.currentPage' | lang }}{{ 'common.total' | lang }}:
                {{ list | reduceTotal : 'usdtAmount' | currencyValue : 'USDT' }}</span
              >
              <img currencyIcon="USDT" class="ml-2" alt="" />
            </span>
            <!-- 总计 -->
            <span class="mx-4">
              <span class="vam"
                >{{ 'common.total' | lang }}: {{ sum?.aggregate?.usdtAmount | currencyValue : 'USDT' }}</span
              >
              <img currencyIcon="USDT" class="ml-2" alt="" />
            </span>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
  <!-- 空显示 -->
  <empty *ngIf="!list.length"></empty>

  <div class="d-flex flex-between">
    <div>
      <mat-form-field [style.width.px]="68">
        <mat-select
          class="form-control rounded-0"
          [(ngModel)]="paginator.pageSize"
          [style.height.px]="34"
          [style.font-size.px]="14"
          (selectionChange)="loadData(true)"
        >
          <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="paginator.total">
      <app-paginator
        class="paginator d-flex justify-content-between align-items-center flex-wrap"
        [paginator]="paginator"
        (paginate)="loadData()"
        [isLoading]="appService.isContentLoadingSubject | async"
      ></app-paginator>
    </div>
  </div>
</div>
