:host {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px 30px 10px;
  background: #fff;
  border-radius: 6px;
  flex: 1;
  margin-top: 20px;
}

.label.label-lg.label-inline {
  width: 72px;
}
