<div class="modal-content">
  <modal-title [title]="title | lang" (close)="modal.dismiss()"></modal-title>
  <!-- 标签模糊搜索 -->
  <div class="d-flex flex-ac flex-center search" style="padding-top: 1.75rem">
    <form-wrap [style.width.px]="557" class="mr-8">
      <svg-icon [src]="'./assets/images/svg/admin-search.svg'" class="svg-icon svg-icon-2x5"></svg-icon>
      <input
        class="form-control"
        autocomplete="off"
        type="text"
        [(ngModel)]="inpuSreachName"
        [placeholder]="'game.manage.keyword' | lang"
        (keyup)="$event.keyCode === 13 && serachChange()"
      />
    </form-wrap>
    <button class="c-btn btn btn-primary h40" (mousedown)="serachChange()">
      {{ 'common.confirm' | lang }}
    </button>
  </div>
  <div class="modal-body custom-scroll-y" [style.height.px]="400" [appLoading]="isLoading">
    <div class="d-flex flex-ac flex-wrap" style="gap: 15px">
      <label
        class="checkbox checkbox-lg px-5 h42"
        style="background: #f5f8fa; border-radius: 6px"
        *ngFor="let item of allList"
      >
        <input type="checkbox" [(ngModel)]="item.checked" />
        <img *ngIf="item?.icon" [src]="item?.icon | host" width="18" height="18" class="mr-4" />
        {{ item?.name || item?.providerName || '-' }}
        <span class="ml-5"></span>
      </label>
    </div>

    <!-- 空显示 -->
    <empty *ngIf="!list.length && !isLoading"></empty>
  </div>

  <div class="modal-footer btn-wrap">
    <button type="button" class="c-btn btn btn-light" (click)="modal.dismiss()">{{ 'common.cancel' | lang }}</button>
    <button type="button" class="c-btn btn btn-primary" (click)="confirm()" [disabled]="!list.length">
      {{ 'common.confirm' | lang }}
    </button>
  </div>
</div>
