$well: #189d16;
$bad: #9d1616;

@mixin style($color) {
  background: linear-gradient(to top, $color -140%, transparent 100%);

  :host-context(.dark) & {
    background: linear-gradient(to top, $color -40%, transparent 100%);
  }

  &::after {
    border-color: rgba($color, 0.3);
  }
}

.main-container {
  border-radius: 0 !important;
  min-height: 300px;
}

.main-router-container {
  min-height: 400px !important;
}

.activity-top {
  background-image: url(src/assets/images/activity/betfreejackpot/top-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--text-color);
  display: flex;

  .container {
    padding: 60px 450px 60px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;

    .activity-theme-bg {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 423px;
      height: 349px;
    }
  }

  @media (max-width: 767px) {
    min-height: 587px;
    background-image: url(src/assets/images/activity/betfreejackpot/top-bg-h5.png);
    background-size: cover;

    .container {
      padding: 60px 0 280px 0;
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      .activity-theme-bg {
        width: 310px;
        height: 256px;
        right: auto;
        pointer-events: none;
      }
    }
  }

  &.no-processing {
    min-height: 260px;
  }

  &.no-logined,
  &.no-processing {
    .container {
      padding: 60px 0 60px 0;

      .join-box {
        margin-top: 0;
      }
    }
  }
}

.tit {
  font-size: 36px;
  font-weight: bold;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.desc {
  font-size: 16px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 18px;

  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.time-box {
  display: flex;
  align-items: center;
  font-size: 16px;

  label {
    color: var(--text-color-20);
  }

  .times {
    margin-left: 20px;
    display: flex;
    align-items: center;

    .time {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      background-color: #2f3030;
      color: var(--text-white-at-night);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & + .time {
        margin-left: 16px;
      }

      span {
        font-size: 36px;
      }

      em {
        margin: 6px 0;
        font-size: 12px;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .times {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

.join-box {
  margin-top: 27px;
  display: flex;
  align-items: center;

  .help-link {
    font-size: 14px;
    margin-left: 22px;
  }
}

.tabs {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--default-border-color);
  backdrop-filter: blur(50px);
  border-radius: 4px;
  min-height: 43px;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; //height的一半

  .tab {
    min-width: 124px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative;
    line-height: 1.3;

    &::after {
      content: '';
      position: absolute;
      left: 20%;
      right: 20%;
      bottom: -1px;
      height: 2px;
      background-color: transparent;
    }

    &.active {
      color: var(--primary-color);
      pointer-events: none;

      &::after {
        background-color: var(--primary-color);
      }
    }
  }

  @media (max-width: 767px) {
    .tab {
      flex: 1;
      min-width: auto;
    }
  }
}

:host {
  ::ng-deep {
    .event-item {
      padding: 23px 30px;
      position: relative;
      border-radius: 4px;
      background-color: transparent;

      &:host-context(.dark) & {
        background-color: var(--bg-color-10);
      }

      @media (max-width: 767px) {
        padding: 20px;
      }

      &::after {
        content: '';
        border: 1px solid var(--default-border-color);
        position: absolute;
        // inset: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 4px;
        pointer-events: none;
      }

      & + .event-item {
        margin-top: 30px;

        @media (max-width: 767px) {
          margin-top: 10px;
        }
      }

      .edit-desc {
        font-size: 16px;
        padding: 10px 0 30px;
      }

      .event-main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;

        > * {
          grid-column: span 2;

          @media (max-width: 767px) {
            &.option {
              grid-column: span 3;
            }

            &.results {
              grid-column: span 3;
              align-items: flex-end !important;
            }
          }
        }

        .team-info {
          display: flex;
          align-items: center;
          font-size: 14px;

          img {
            height: 80px;
            max-width: 100px;
            object-fit: contain;
          }

          &.left {
            justify-content: flex-start;

            span {
              padding-left: 10px;
            }
          }

          &.right {
            justify-content: flex-end;

            span {
              padding-right: 10px;
            }
          }

          @media (max-width: 767px) {
            flex-direction: column;

            span {
              padding: 10px 0 0 0 !important;
              order: 1;
            }
          }
        }

        .scores {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 50px;

          em {
            padding: 0 8%;
          }

          @media (max-width: 767px) {
            font-size: 20px;

            em {
              padding: 0 10px;
            }
          }
        }

        .option {
          display: flex;
          align-items: center;

          &.left {
            justify-content: flex-start;
          }

          &.right {
            justify-content: flex-end;
          }

          .operate {
            color: var(--primary-color-80);
            font-size: 30px;
            display: flex;
            align-items: center;
            user-select: none;

            > * {
              padding: 5px;

              & + * {
                margin-left: 25px;
              }
            }
          }

          .label {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            padding-top: 15px;

            > * + * {
              padding-top: 10px;
            }
          }
        }

        .results {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 14px;
          padding-top: 15px;

          > * {
            display: flex;
            align-items: center;

            & + * {
              padding-top: 10px;
            }
          }

          .status-icon {
            margin-left: 10px;
          }
        }
      }

      &.edit {
        .event-main {
          @media (max-width: 767px) {
            > * {
              &.option,
              &.results {
                justify-content: center;
                grid-column: span 2 !important;
              }
            }
          }
        }
      }

      &.win {
        @include style($well);
      }

      &.lose {
        @include style($bad);
      }

      &.cancel {
        background-color: var(--bg-color-10);

        .status-icon {
          display: none;
        }
      }
    }

    .icon-correct,
    .icon-error {
      border-radius: 100%;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: var(--text-white-at-night);

      &::before {
        color: inherit;
      }
    }

    .icon-correct {
      background-color: #06c755;
      padding-top: 1px;
    }

    .icon-error {
      background-color: #ff4e64;
      padding-right: 1px;
      padding-bottom: 2px;
    }
  }
}
