:host {
  flex: 0 0 400px;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 0;
}

.item {
  height: 58px;

  &-icon {
    width: 44px;
    height: 44px;
    background: #fff5f8;
  }

  &.is-blue &-icon {
    background: #f5faff;
  }

  &-right {
    width: 32px;
    height: 32px;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    background: #f5f8fa;
    align-items: center;
    justify-content: center;
  }
}
