<!-- 付款审批 -->
<div class="card px-12 py-8 overflow-hidden" sticky>
  <div class="d-flex flex-ac justify-content-end">
    <span class="btn btn-light btn-hover-primary px-4 ml-8" (click)="openApply()">{{
      'budget.newApplication' | lang
    }}</span>
  </div>

  <div class="d-flex flex-wrap main-content">
    <form-row [label]="'budget.currency' | lang" [contentWidth]="245" class="mr-16">
      <ng-template>
        <mat-form-field class="w-100">
          <mat-select class="form-control rounded-0" [(ngModel)]="data.currency" (selectionChange)="loadData(true)">
            <mat-option *ngFor="let item of currencyList" [value]="item.code">{{
              item.code || ('common.all' | lang)
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </form-row>

    <form-row [label]="'budget.label' | lang" [contentWidth]="215" class="mr-16">
      <ng-template>
        <mat-form-field class="w-100">
          <mat-select class="form-control rounded-0" [(ngModel)]="data.label" (selectionChange)="loadData(true)">
            <mat-option *ngFor="let item of labelList" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </form-row>

    <form-row [label]="'common.date' | lang" [contentWidth]="215" class="mr-16">
      <ng-template>
        <input
          [style.width.px]="230"
          class="form-control text-center rounded-0"
          type="text"
          placeholder=""
          selectMode="date-range"
          [owlDateTime]="picker"
          [owlDateTimeTrigger]="picker"
          formatLabel="yyyy-MM-dd"
          rangeSeparator="-"
          [(ngModel)]="data.time"
          (dateTimeChange)="loadData(true)"
        />

        <owl-date-time pickerType="calendar" class="fz-20" #picker></owl-date-time>
      </ng-template>
    </form-row>

    <form-row [label]="'budget.payeInformation' | lang" [contentWidth]="594" class="mr-16">
      <ng-template>
        <input
          (keyup)="$event.keyCode === 13 && loadData(true)"
          [(ngModel)]="data.info"
          class="form-control rounded-0"
          type="text"
          [placeholder]="'budget.supPayee' | lang"
        />
      </ng-template>
    </form-row>

    <!-- Athena 不要了 要改 -->
    <!--    <form-row label="操作人" [contentWidth]="200">-->
    <!--      <ng-template>-->
    <!--        <input-->
    <!--          (keyup)="$event.keyCode === 13 && loadData(true)"-->
    <!--          [(ngModel)]="data.applicant"-->
    <!--          class="form-control rounded-0"-->
    <!--          type="text"-->
    <!--          placeholder="请输入操作人"-->
    <!--          input-trim-->
    <!--        />-->
    <!--      </ng-template>-->
    <!--    </form-row>-->

    <div class="btn-wrap py-2">
      <button class="c-btn c-btn-default" (click)="onReset()">{{ 'common.reset' | lang }}</button>
      <button class="c-btn c-btn-primary" (click)="loadData(true)">{{ 'budget.filter' | lang }}</button>
    </div>
  </div>
</div>

<div class="card p-12 mt-6">
  <div class="d-flex flex-ac">
    <div class="fz-16 flex-1">{{ 'budget.withdList' | lang }}</div>
  </div>

  <div class="flex-fill mt-4 px-3">
    <table class="table mb-0">
      <thead sticky>
        <tr>
          <th>
            <span class="cell">{{ 'budget.transactionNumber' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.type' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.applicationTime' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.currency' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.payeeName' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.receivingAccount' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.totalAmount' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.label' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.applicant' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.approver1' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.approver2' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.remarks' | lang }}</span>
          </th>
          <th>
            <span class="cell">{{ 'budget.paymentProgress' | lang }}</span>
          </th>
          <th>
            <span class="cell text-nowrap">{{ 'budget.review' | lang }}</span>
          </th>
        </tr>
      </thead>

      <tbody class="color-222">
        <tr *ngFor="let item of list; let i = index">
          <!-- 交易单号 -->
          <td>
            <span class="cell">{{ item.tradeOrder }}</span>
          </td>
          <!-- 类型 -->
          <td>
            <span class="cell">{{
              (payService.findCurrencyType(item.currencyCoinCategory)?.label | lang) || '-'
            }}</span>
          </td>
          <!-- 申请时间 -->
          <td>
            <span class="cell">{{ item.createdTime | timeFormat }}</span>
          </td>
          <!-- 币种 -->
          <td>
            <span class="cell">
              <img class="mr-2" [currencyIcon]="item.currency" alt="" />
              {{ item.currency }}
            </span>
          </td>
          <!-- 收款人姓名 -->
          <td>
            <span class="cell" *ngIf="item.currencyCoinCategory === WithdrawalTypeEnum.Coin">{{
              item.paymentMethodId | wordHide : !isSuper && item.withdrawTabCategory === 'Special'
            }}</span>
            <span class="cell" *ngIf="item.currencyCoinCategory === WithdrawalTypeEnum.Currency">{{
              item.bankAccountHolder | wordHide : !isSuper && item.withdrawTabCategory === 'Special'
            }}</span>
            <span class="cell" *ngIf="item.currencyCoinCategory === WithdrawalTypeEnum.CurrencyExchange">{{
              item.exchangeCurrency
            }}</span>
          </td>
          <!-- 收款账号、汇率@金额 -->
          <td>
            <span class="cell" *ngIf="item.currencyCoinCategory !== WithdrawalTypeEnum.CurrencyExchange">{{
              item.bankAccountNumber | wordHideFirst : !isSuper && item.withdrawTabCategory === 'Special' : 10
            }}</span>
            <span class="cell" *ngIf="item.currencyCoinCategory === WithdrawalTypeEnum.CurrencyExchange"
              >{{ item.exchangeRate }}&#64;{{ item.exchangeAmount }}
            </span>
          </td>
          <!-- 总金额 -->
          <td>
            <span class="cell">{{ item.totalAmount | currencyValue : item.currency }}</span>
          </td>
          <!-- 标签 -->
          <td>
            <span class="cell">{{ item.withdrawTabName || '-' }}</span>
          </td>
          <!-- 申请人 -->
          <td>
            <span class="cell">{{ item.createdUserName }}</span>
          </td>
          <!-- 一级审批人 -->
          <td>
            <span class="cell">{{ item.auditUserName || '-' }}</span>
          </td>
          <!-- 二级审批人 -->
          <td>
            <span class="cell">{{ item.auditUserName2 || '-' }}</span>
          </td>
          <!-- 备注 -->
          <td>
            <ng-template #tipContent>
              <div class="text-left">{{ item.description }}</div>
            </ng-template>

            <span class="cell" [disableTooltip]="!item.description?.trim()" [ngbTooltip]="tipContent">{{
              item.description
            }}</span>
          </td>
          <!-- 状态 -->
          <td>
            <span class="cell">
              <approval-status class="cursor-pointer" [status]="item.status" (click)="onDetail(item)"></approval-status>
            </span>
          </td>
          <!-- 操作 -->
          <td>
            <span class="cell">
              <ng-template #auditTipContent>
                <div class="text-left">{{ item.note2?.trim() || item.note1?.trim() }}</div>
              </ng-template>

              <span
                *ngIf="[FinancialWithdrawStatus.Waiting, FinancialWithdrawStatus.Waiting2].includes($any(item.status))"
                class="btn btn-default btn-hover-primary px-6 text-nowrap"
                (click)="onOpenApprove(approvalTpl, item)"
                [disableTooltip]="!item.note2?.trim() && !item.note1?.trim()"
                [ngbTooltip]="auditTipContent"
                >{{ 'budget.review' | lang }}</span
              >
              <span
                *ngIf="![FinancialWithdrawStatus.Waiting, FinancialWithdrawStatus.Waiting2].includes($any(item.status))"
                >{{ item.note2 || item.note1 || '-' }}</span
              >
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 空显示 -->
    <div class="container-empty" *ngIf="!list.length && !isLoading">
      <div>
        <svg-icon [src]="'./assets/images/svg/icon-empty.svg'" class="svg-icon menu-icon"></svg-icon>
        <div class="txt">{{ 'common.emptyText' | lang }}</div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-between flex-ac pt-12">
    <div>
      <mat-form-field [style.width.px]="76">
        <mat-select
          class="form-control"
          [(ngModel)]="paginator.pageSize"
          [style.height.px]="34"
          [style.font-size.px]="14"
          (selectionChange)="loadData()"
        >
          <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="paginator.total">
      <app-paginator
        class="paginator d-flex justify-content-between align-items-center flex-wrap"
        [paginator]="paginator"
        (paginate)="loadData()"
        [isLoading]="isLoading"
      ></app-paginator>
    </div>
  </div>
</div>

<!-- 审批确认 -->
<!--<ng-template #approvalTpl let-id let-c="close" let-d="dismiss">-->
<!--  <modal-title [title]="'budget.prompt' | lang" (close)="d()"></modal-title>-->

<!--  <div class="px-12 py-8 text-center">-->
<!--    <svg-icon [src]="'./assets/images/svg/warning.svg'" class="svg-icon svg-icon-7x mt-8"></svg-icon>-->
<!--    <p class="fz-16 mt-8">{{ 'budget.sureApproval' | lang }}</p>-->
<!--  </div>-->

<!--  <modal-footer-->
<!--    dismissKey="reject"-->
<!--    confirmKey="approve"-->
<!--    (confirm)="onApproval(id, true, c)"-->
<!--    (dismiss)="onApproval(id, false, c)"-->
<!--  ></modal-footer>-->
<!--</ng-template>-->

<!-- 分级审批 -->
<ng-template #approvalTpl let-data let-c="close" let-d="dismiss">
  <modal-title [title]="'budget.prompt' | lang" (close)="d()"></modal-title>

  <div class="px-12 py-8" [formGroup]="approvalGroup">
    <form-row [label]="'budget.model.auditDesc1' | lang" *ngIf="!data.isFirst && data.currentItem?.note1?.trim()">
      <ng-template>
        <span class="lh-22 py-4 fz-16 word-break">{{ data.currentItem.note1 || '-' }}</span>
      </ng-template>
    </form-row>

    <!-- 审批类型 -->
    <form-row
      name="approval"
      [label]="(data.isFirst ? 'payment.approval.wait1' : 'payment.approval.wait2') | lang"
      required
    >
      <ng-template let-control="formControl">
        <div class="d-flex flex-wrap">
          <label class="radio radio-lg lh-32 my-2 fz-16 mr-12">
            <input type="radio" name="approveLevel" [value]="true" [formControl]="control" />
            <span class="mr-4"></span>{{ 'budget.approve' | lang }}
          </label>
          <label class="radio radio-lg lh-32 my-2 fz-16 mr-12">
            <input type="radio" name="approveLevel" [value]="false" [formControl]="control" />
            <span class="mr-4"></span>{{ 'budget.reject' | lang }}
          </label>
        </div>
      </ng-template>
    </form-row>

    <!-- 备注 -->
    <form-row
      name="note"
      [label]="'common.remarks' | lang"
      [required]="!approvalGroup.value?.approval"
      [invalidFeedback]="{ required: 'payment.approval.rejectTips' | lang }"
    >
      <ng-template let-invalid="invalid" let-control="formControl">
        <input class="w-100 form-control" type="text" [formControl]="control" [class.is-invalid]="invalid" input-trim />
      </ng-template>
    </form-row>
  </div>

  <modal-footer (confirm)="onApproval(data.currentItem, c)" (dismiss)="d()"></modal-footer>
</ng-template>
