<div class="card rounded">
  <div class="card-header py-8 d-flex flex-wrap">
    <form-row label="UID" class="mr-16" [contentWidth]="150">
      <ng-template>
        <input class="form-control w-100" type="text" [(ngModel)]="uid" />
      </ng-template>
    </form-row>
    <form-row [label]="'risk.auto.type' | lang" class="mr-16" [contentWidth]="150">
      <ng-template>
        <mat-form-field [style.width.px]="150">
          <mat-select class="form-control" [(ngModel)]="type" (selectionChange)="onType()">
            <mat-option *ngFor="let item of typeList" [value]="item.key">{{
              item.lang ? (item.lang | lang) : item.text
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </form-row>

    <form-row [label]="'risk.checkTime' | lang" label-width="106" class="mr-16">
      <ng-template>
        <div class="d-flex">
          <input
            class="form-control text-center"
            type="text"
            selectMode="rangeFrom"
            [placeholder]="'common.startTime' | lang"
            [style.width.px]="140"
            [owlDateTime]="timeStart"
            [owlDateTimeTrigger]="timeStart"
            [(ngModel)]="time"
            formatLabel="yyyy-MM-dd"
          />
          <owl-date-time class="fz-20" pickerType="calendar" #timeStart></owl-date-time>

          <div class="date-line lh-42"></div>

          <input
            class="form-control text-center"
            type="text"
            selectMode="rangeTo"
            [placeholder]="'common.endTime' | lang"
            [style.width.px]="140"
            [owlDateTime]="timeEnd"
            [owlDateTimeTrigger]="timeEnd"
            [(ngModel)]="time"
            formatLabel="yyyy-MM-dd"
          />
          <owl-date-time class="fz-20" pickerType="calendar" #timeEnd></owl-date-time>
        </div>
      </ng-template>
    </form-row>

    <div class="btn-wrap py-2">
      <button class="c-btn c-btn-default" [disabled]="appService.isContentLoadingSubject | async" (click)="onReset()">
        {{ 'common.reset' | lang }}
      </button>
      <button
        class="c-btn c-btn-primary"
        [disabled]="appService.isContentLoadingSubject | async"
        (click)="loadData(true)"
      >
        {{ 'common.confirm' | lang }}
      </button>
    </div>
  </div>
</div>

<div class="card mt-6 list">
  <div class="card-body">
    <div class="fz-20 flex-1">
      <div class="new-thead-box">
        <div class="left">{{ 'risk.auto.autoRecord' | lang }}</div>
        <div class="right">
          <span class="has-icon">
            {{ 'risk.auto.todayZero' | lang }}{{ curType?.lang ? (curType.lang | lang) : curType?.text }}：
            <span class="vam">{{ todayTotal | currencyValue: 'USDT' }}</span>
            <img class="ml-2" currencyIcon="USDT" />
          </span>
          <span class="has-icon">
            {{ 'risk.auto.hisZero' | lang }}{{ curType?.lang ? (curType.lang | lang) : curType?.text }}：
            <span class="vam">{{ historyTotal | currencyValue: 'USDT' }}</span>
            <img class="ml-2" currencyIcon="USDT" />
          </span>
        </div>
      </div>
    </div>

    <div class="flex-fill mt-2">
      <table class="table mb-0">
        <thead>
          <tr>
            <th><span class="cell">UID</span></th>
            <th>
              <span class="cell">{{ 'risk.auto.order' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'risk.auto.applyAmount' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'risk.auto.applyTime' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'risk.auto.beLevel' | lang }}</span>
            </th>
            <th>
              <span class="cell"
                >{{ 'risk.auto.totalZero' | lang }}{{ curType?.lang | lang }}{{ 'risk.auto.amount' | lang }}</span
              >
            </th>
            <th>
              <span class="cell">{{ 'common.status' | lang }}</span>
            </th>
          </tr>
        </thead>

        <tbody class="color-222">
          <tr *ngFor="let item of list">
            <td>
              <span class="cell">{{ item.uid }}</span>
            </td>
            <td>
              <span class="cell">{{ item.orderId }}</span>
            </td>
            <td>
              <span class="cell has-icon"
                >{{ item.detail.amount | currencyValue: item.detail.currency
                }}<img class="ml-2" [currencyIcon]="item.detail.currency"
              /></span>
            </td>
            <td>
              <span class="cell">{{ item.createdTime | timeFormat }}</span>
            </td>
            <td>
              <span class="cell">{{ item.detail.riskLevel }}</span>
            </td>
            <td>
              <span class="cell"
                >{{ item.usdtTotal | currencyValue: 'USDT' }}<img class="ml-2" currencyIcon="USDT"
              /></span>
            </td>
            <td>
              <span class="cell" [ngSwitch]="item.status">
                <app-label *ngSwitchCase="'Processing'" type="info">{{ 'risk.processing' | lang }}</app-label>
                <app-label *ngSwitchCase="'Finish'" type="success">{{ 'risk.auto.checked' | lang }}</app-label>
                <!-- *ngIf="item.category !== 'NegativeClear'" -->
                <ng-container>
                  <app-label
                    (click)="openView(confirm, item)"
                    *ngSwitchCase="'Pending'"
                    class="cursor-pointer"
                    type="warning"
                    >{{ 'risk.auto.waitCheck' | lang }}
                  </app-label>
                </ng-container>
                <app-label *ngSwitchCase="'Rejected'" type="danger">{{ 'risk.auto.refused' | lang }}</app-label>
                <app-label *ngSwitchCase="'Cancel'" type="primary">{{ 'risk.auto.canceled' | lang }}</app-label>
              </span>
              <!-- 结束 -->
            </td>
          </tr>
        </tbody>
      </table>

      <!-- 空显示 -->
      <div class="container-empty" *ngIf="!list.length && (appService.loading$ | async) === false">
        <div>
          <svg-icon [src]="'./assets/images/svg/icon-empty.svg'" class="svg-icon menu-icon"></svg-icon>
          <div class="txt">{{ 'common.emptyText' | lang }}</div>
        </div>
      </div>

      <!-- 页码 -->
      <div class="d-flex flex-between pt-10 table-footer">
        <div>
          <mat-form-field [style.width.px]="76">
            <mat-select
              class="form-control"
              [(ngModel)]="paginator.pageSize"
              [style.height.px]="34"
              [style.font-size.px]="14"
              (selectionChange)="loadData(true)"
            >
              <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="paginator.total">
          <app-paginator
            class="paginator d-flex justify-content-between align-items-center flex-wrap py-0"
            [paginator]="paginator"
            (paginate)="loadData()"
          ></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 弹窗 -->

<ng-template #confirm>
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">{{ 'components.prompt' | lang }}</div>
      <!--begin::Close-->
      <div class="c-btn-close" (click)="closeModal()">
        <svg-icon [src]="'./assets/images/svg/admin-close.svg'" class="svg-icon"></svg-icon>
      </div>
      <!--end::Close-->
    </div>

    <div class="modal-body text-center">
      <svg-icon [src]="'./assets/images/svg/warning.svg'" class="svg-icon svg-icon-7x my-8"></svg-icon>
      <p class="fz-16 mt-8">{{ 'risk.auto.ifCheck' | lang }}</p>
    </div>

    <div class="modal-footer btn-wrap">
      <button type="button" class="c-btn btn btn-light" (click)="updateStatus('Rejected')">
        {{ 'common.reject' | lang }}
      </button>
      <button type="button" class="c-btn btn btn-primary" (click)="updateStatus('Finish')">
        {{ 'risk.passing' | lang }}
      </button>
    </div>
  </div>
</ng-template>
