:host {
  width: 100%;
  position: relative;
  background-color: var(--orignal-bg);
}

.ff {
  font-family: 'Arial';
}

.money {
  position: absolute;
  top: 9.5px;
  justify-content: center;
  color: #484848;
  font-weight: 700;
  width: 100%;
  display: flex;

  img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  span {
    font-size: 15px;
    color: #15db41;
    font-weight: 700;
  }
}

.wrapper {
  width: 878px;
  margin: 10px auto 46px;
  /* 背景色/日间 */
  background: var(--orignal-bg);
  border-radius: 6px;
  flex-direction: column;
  position: relative;

  @media (max-width: 940px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }

  &-top {
    padding: 10px 16px;

    @media (max-width: 576px) {
      padding-bottom: 0;
    }
  }

  .mines {
    padding: 10px 16px;

    @media (max-width: 576px) {
      padding-bottom: 0;
      padding-top: 0;
    }

    .mines-board {
      display: flex;
      justify-content: space-between;
      margin-bottom: 38px;

      @media (max-width: 797px) {
        justify-content: center;
      }

      @media (max-width: 576px) {
        margin-bottom: 15px;
      }

      .mines-board-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 183px;
        height: 380px;
        background: var(--orignal-mian);
        border-radius: 10px;
        overflow: hidden;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: -8px;

        @media (max-width: 940px) {
          width: 20%;
        }

        @media (max-width: 797px) {
          &.icon-left,
          &.icon-right {
            display: none;
          }
        }

        &.icon-left {
          position: relative;

          &::after {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background: url(src/assets/orignal/images/mines/left-icon-t.svg) right top no-repeat;
          }

          &::before {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background: url(src/assets/orignal/images/mines/left-icon-b.svg) left bottom no-repeat;
          }
        }

        &.icon-right {
          position: relative;

          &::after {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background: url(src/assets/orignal/images/mines/right-icon-t.svg) right top no-repeat;
          }

          &::before {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background: url(src/assets/orignal/images/mines/right-icon-b.svg) left bottom no-repeat;
          }
        }

        p {
          margin: 10px 0 0;
          font-weight: 500;
          font-size: 13px;
          text-align: center;
          text-transform: uppercase;
          color: var(--orignal-test-1);
          height: 18px;
          line-height: 15px;
        }

        img {
          width: 87px;
          height: 87px;
          user-select: none;
          pointer-events: none;
        }

        span {
          height: 28px;
          font-weight: 900;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          color: var(--orignal-test-1);
        }
      }
    }

    .board {
      position: relative;
      display: grid;
      width: 100%;
      max-width: 400px;
      grid-template-columns: repeat(5, auto);
      grid-gap: 1.05em 0.55em;

      @media (max-width: 576px) {
        max-width: 266px;
      }

      @media (max-width: 550px) {
        grid-gap: 0.6em 0.3em;
      }

      button {
        cursor: pointer;
        position: relative;
        padding: 0;
        background-color: var(--orignal-mian);
        border-radius: 10px;
        border: 3px solid transparent;
        transition: all 0.3s;
        user-select: none;
        &:after {
          user-select: none;
          pointer-events: none;
          content: '';
          display: block;
          padding-bottom: 86%;
        }

        div {
          position: absolute;
          top: -3px;
          left: -3px;
          bottom: -3px;
          right: -3px;
          animation-fill-mode: forwards;
          transition-duration: 0.3s;
          transition-property: transform, background, box-shadow;
          animation-name: ibUtsH;
          animation-duration: 0.3s;
          animation-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
          border-radius: 10px;
          border: 3px solid var(--orignal-primary-color);
          background-color: var(--orignal-primary-color);
          box-shadow: 0 7px rgb(24 102 195 / 50%);

          @media (max-width: 576px) {
            box-shadow: 0 4px rgb(24 102 195 / 50%);
          }

          &::after {
            content: '?';
            position: absolute;
            line-height: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 39px;
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            color: #fff;
            opacity: 0.5;
          }
        }

        &:not(:disabled) {
          div:hover {
            background-color: #67affd;

            &:host-context(.dark) & {
              background-color: #3389ef;
            }
          }
        }

        img {
          opacity: 0.5;
          user-select: none;
          pointer-events: none;
          width: 75px;
          height: 75px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -37px;
          margin-top: -37px;
          transform: scale(0);
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
          animation-duration: 0.3s;
          animation-name: iVFLqn;

          @media (max-width: 576px) {
            width: 40px;
            height: 32px;
            margin-left: -20px;
            margin-top: -16px;
          }

          @keyframes iVFLqn {
            0% {
              transform: scale(0);
            }

            100% {
              transform: scale(1);
            }
          }
        }

        &:hover {
          top: 1px;
        }

        &:disabled {
          top: 0;
          cursor: default;
        }

        &.diamond {
          background: var(--orignal-mian);
          border: 2px solid var(--orignal-primary-color);
          // box-shadow: 0px 6px 0px rgba(34, 131, 246, 0.5);
          border-radius: 10px;
          position: relative;
        }

        &.bomb {
          background: var(--orignal-mian);
          border: 2px solid var(--orignal-primary-color-1);
          // box-shadow: 0px 6px 0px rgba(250, 48, 92, 0.5);
          border-radius: 10px;
          position: relative;
        }

        &.expectation div {
          transition-duration: 0.3s;
          transition-property: transform, background, box-shadow;
          animation-fill-mode: forwards;
          animation-name: animation-expectation;
          animation-duration: 0.6s;
          animation-iteration-count: infinite;

          @keyframes animation-expectation {
            0%,
            100% {
              transform: scale(1);
            }

            50% {
              transform: scale(1.05);
            }
          }
        }

        &.emergence {
          img {
            opacity: 1;
          }
        }

        &.emergence div {
          animation-fill-mode: forwards;
          animation-name: animation-emergence;
          animation-duration: 0.3s;
          transition-duration: 0.3s;
          transition-property: transform, background, box-shadow;

          @keyframes animation-emergence {
            0% {
              opacity: 1;
            }

            100% {
              transform: scale(0);
              opacity: 0;
            }
          }
        }

        @keyframes ibUtsH {
          0% {
            opacity: 0;
            transform: scale(0);
          }
        }

        &.prepare {
          div {
            animation-fill-mode: forwards;
            transition-duration: 0.3s;
            transition-property: transform, background, box-shadow;
            animation-name: ibUtsH;
            animation-duration: 0.3s;
            border: 3px solid var(--orignal-primary-color-2);
            background-color: var(--orignal-primary-color-2);
            box-shadow: none;
          }

          &:not(:disabled) {
            div:hover {
              background-color: var(--orignal-primary-color-2);

              &:host-context(.dark) & {
                background-color: var(--orignal-primary-color-2);
              }
            }
          }
        }
      }

      &.disabled {
        opacity: 0.9;
      }
    }
  }

  .coefficients {
    height: 54px;
    margin: 0 26px 30px;
    position: relative;

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }

    @media (max-width: 500px) {
      margin-bottom: 5px;
    }

    .pagination-chevron {
      border-color: var(--orignal-test-2);
      height: 12px;
      width: 12px;
      transform: rotate(-135deg);
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .pagination {
      width: 20px;
      height: 100%;
      position: absolute;
      z-index: 999;
      cursor: pointer;
      user-select: none;
      &:first-child {
        left: -26px;
        top: 0;

        .pagination-chevron {
          left: 3px;
        }
      }

      &:last-child {
        right: -26px;
        top: 0;

        .pagination-chevron {
          transform: rotate(45deg);
          right: 2px;
        }
      }
    }

    //matTab组件样式覆盖
    ::ng-deep {
      .mat-mdc-tab-group {
        height: 100%;
        position: absolute;
        min-width: calc(100% + 22px);
        margin-left: -10px;
      }

      .mat-mdc-tab {
        height: 100%;
      }

      .mat-mdc-tab-header .mat-mdc-tab-label-container {
        flex-grow: 0;
      }

      .mdc-tab-indicator .mdc-tab-indicator__content {
        border: none;
      }

      .mat-mdc-tab-header {
        overflow: initial;
        border: none;
        position: relative;
        height: 100%;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
          height: 2px;
          background: var(--orignal-border-color1);
          z-index: 0;
          width: calc(100% - 20px);
        }
      }
      .mat-mdc-tab {
        padding: 0 10px;
        min-width: 115px;
        height: 100%;
        opacity: 1;

        @media (max-width: 820px) {
          min-width: 100px;
        }

        @media (max-width: 650px) {
          min-width: 60px;
        }

        @media (max-width: 500px) {
          padding: 0 5px;
          min-width: auto;
        }
      }
      .mat-mdc-tab-labels {
        height: 100%;
      }
      .mdc-tab__content {
        height: 100%;

        @media (max-width: 500px) {
          height: auto;
        }

        .mdc-tab__text-label {
          height: 100%;

          @media (max-width: 500px) {
            height: auto;
          }
        }

        .coefficient-item {
          height: 100%;
          display: flex;
          flex-direction: column;
          border: 1px solid var(--orignal-border-color1);
          border-radius: 9px;
          min-width: 116px;
          overflow: hidden;

          @media (max-width: 820px) {
            min-width: 100px;
          }

          @media (max-width: 650px) {
            min-width: 75px;
          }

          @media (max-width: 500px) {
            min-width: auto;
          }

          &-label {
            font-weight: 900;
            font-size: 15px;
            display: flex;
            align-items: center;
            color: var(--orignal-test-1);
            height: 50%;
            justify-content: center;
            background: var(--orignal-mian);

            @media (max-width: 500px) {
              font-size: 14px;
              height: auto;
              padding: 8px;
            }
          }

          &-hint {
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            height: 50%;
            justify-content: center;
            color: var(--orignal-test-2);
            background: var(--orignal-bg);

            @media (max-width: 500px) {
              display: none;
            }
          }

          &.active {
            border: none;

            .coefficient-item-label {
              background: var(--orignal-primary-color);
              color: #ffffff;
            }

            .coefficient-item-hint {
              background: #3a89ff;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.win-tip {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;
  width: 251px;
  height: 101px;
  background: var(--orignal-primary-linear);
  border: 1px solid var(--orignal-primary-color);
  box-shadow: 0px 10px 20px rgba(0, 87, 255, 0.3);
  border-radius: 8px;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-image: url(src/assets/orignal/images/mines/tip-bg.svg);
  }

  div:first-child {
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
  }

  div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    img {
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }

    font-weight: 900;
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
  }
}
