.country-image {
  width: 18px;
  height: 18px;
}

.game-code {
  position: relative;
  width: 60%;
  .game-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.game-img {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  img {
    width: 80px;
    height: 105px;
  }
}
