<div class="main-container unity-padding-web unity-padding-h5-16">
  <div class="container activity-container">
    <div class="top-flex-out">
      <img src="assets/images/responsible-gambling/activity/activity.svg" alt="" lazy="loading" />
      <div class="right">
        <p class="text-20">{{ 'my_act' | translate }}</p>
      </div>
    </div>
    <div class="flex-layout">
      <p class="text-14 m-top-20">
        {{ 'res_cc' | translate }}
      </p>
      <div class="flex-box m-top">
        <customize-button minWidth="127px" [plain]="true" [active]="true" size="small" type="text">
          {{ 'res_cd' | translate }}
        </customize-button>
      </div>
      <p class="text-20 m-top-20">
        {{ 'res_ce' | translate }}
      </p>
      <p class="text-14 m-top-20">
        {{ 'res_cf' | translate }}
      </p>
      <p class="text-20 m-top-20">
        {{ 'res_cg' | translate }}
      </p>
      <p class="text-14 m-top-20">
        {{ 'res_abc' | translate }}
      </p>
      <p class="text-20 m-top-20">
        {{ 'res_abd' | translate }}
      </p>
      <p class="text-14 m-top-20">
        {{ 'res_abe' | translate }}
      </p>
      <div class="flex-box m-top-20">
        <customize-button minWidth="180px" [plain]="true" [active]="true" size="small" type="text">
          {{ 'res_abf' | translate }}
        </customize-button>
      </div>
    </div>
  </div>
</div>
