@use 'src/assets/styles/compatibility-fixe.scss' as polyfills;

div {
  display: flex;
}

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  padding-bottom: 30px;

  //异常提示
  .abnormal-card {
    border-radius: 8px;
    // background-color: #f5f5f5;
    background-color: var(--bg-color-10);
    padding: 28px 24px 27px 29px;
    flex-direction: row;

    @media (max-width: 767px) {
      border-radius: 6px;
      flex-direction: column;
      align-items: center;
      padding: 40px 24px;
      margin-bottom: 24px;
    }

    .txt-colunm {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 767px) {
        align-items: center;
      }

      .title {
        color: var(--text-color);
        font-size: 20px;

        @media (max-width: 767px) {
          line-height: 1.5;
          text-align: center;
          font-size: 16px;
        }
      }

      .important {
        opacity: 0.8;
        background-color: rgba(240, 78, 35, 0.09);
        font-size: 14px;
        color: var(--text-color);
        padding: 5px 10px;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (max-width: 767px) {
          margin-bottom: 20px;
          margin-top: 20px;
        }

        .icon-lock {
          background-image: url(src/assets/svg/lock.svg);
          height: 12px;
          width: 10px;
          background-size: 100%;
          background-repeat: no-repeat;
          margin: 0 7px;
        }
      }

      .link-txt {
        text-decoration: underline var(--text-color-20);
        color: var(--text-color-20);
        font-size: 14px;
        cursor: pointer;
        user-select: none;
      }
    }

    //close icon
    .icon-close {
      height: 14px;
      width: 14px;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-image: url(src/assets/images/kyc/close-3.png);
    }

    //icon图标
    .icon-importan {
      align-items: center;
      // margin-right: 23px;
      height: 54px;
      width: 54px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 31px;
      background-image: url(src/assets/images/important-2.svg);

      @media (max-width: 767px) {
        margin-right: 0px;
        margin-bottom: 24px;
      }
    }
  }

  .row-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 24px;
    justify-content: space-between;
    @include polyfills.flex-gap(30px, 'row wrap');

    //表单
    .contants {
      flex-direction: column;
      max-width: 720px;
      flex: 1;

      @media (max-width: 767px) {
        // order: 1;
        width: 100%;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
      }

      //top
      .offset-top {
        padding-top: 18px;
      }

      // input
      .input-select {
        flex-direction: row;
        @include polyfills.flex-gap(3vw, 'row nowrap');

        .header {
          width: 4em;
          // white-space: nowrap;
        }

        @media (max-width: 767px) {
          width: 100%;
          justify-content: center;
          margin-left: 0;
          margin-right: 0;
        }

        .clounm {
          flex-direction: column;
          flex: 1;
        }

        //到账数量
        .submit-container {
          flex-direction: row;
          justify-content: space-between;
          flex: 1;

          @media (max-width: 767px) {
            flex-direction: column;
          }

          .amount-clounm {
            flex-direction: column;
            font-size: 28px;
            font-weight: bold;
            color: var(--text-color);

            span.fee {
              padding-top: 2px;
              color: var(--text-color-20);
              font-size: 14px;
              font-weight: normal;
            }
          }
        }

        .m-top {
          @media (max-width: 767px) {
            margin-top: 10px;
          }
        }

        //标题
        .header {
          font-size: 14px;
          color: var(--text-color-20);

          @media (max-width: 767px) {
            display: none;
          }
        }

        .input-column {
          flex-direction: column;
          padding-bottom: 16px;
          flex: 1;

          @media (max-width: 767px) {
            padding-bottom: 24px;
          }

          .space-row {
            justify-content: space-between;
            padding-bottom: 5px;
          }

          //更多详情
          .more-info,
          .more-info-h5 {
            font-size: 14px;
            color: var(--text-color);
            position: relative;

            @media (max-width: 767px) {
              display: none;
            }

            .txt {
              color: var(--text-color-20);
              padding: 0 8px;
            }

            .icon-warning {
              cursor: pointer;
              user-select: none;
            }

            //hover 显示更多金额信息
            .more-info-hover {
              width: 216px;
              height: 129px;
              position: absolute;
              background-color: var(--text-color-20);
              border-radius: 4px;
              color: #fff;
              padding: 10px 16px 0 16px;
              line-height: 1.43;
              font-size: 12px;
              text-align: center;
              top: 21px;
              left: 93%;
              transform: translateX(-50%);
              box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
              flex-direction: column;

              .space-between {
                flex-direction: row;
                justify-content: space-between;
                color: #ffffff;
                font-size: 12px;
                width: 100%;
                padding-bottom: 15px;

                .txt-c {
                  color: #ffffff;
                  font-size: 12px;
                }
              }

              &:after {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 10px solid var(--text-color-20);
                position: absolute;
                top: -7px;
                left: 52%;
                transform: translateX(-50%);
              }
            }
          }

          span {
            font-size: 14px;
            color: var(--text-color-20);
          }

          // H5 hover显示
          .more-info-h5 {
            font-size: 14px;
            color: var(--text-color);
            position: relative;
            justify-content: flex-end;
            padding-top: 6px;
            display: none;

            @media (max-width: 767px) {
              display: flex;
            }

            .txt {
              color: var(--text-color-20);
              padding: 0 8px;
            }

            .icon-warning {
              cursor: pointer;
              user-select: none;
            }

            //hover 显示更多金额信息
            .more-info-hover-h5 {
              width: 216px;
              height: 129px;
              z-index: 9;
              position: absolute;
              background-color: var(--text-color-20);
              border-radius: 4px;
              color: #fff;
              padding: 10px 16px 0 16px;
              line-height: 1.43;
              font-size: 12px;
              text-align: center;
              bottom: 21px;
              right: -28%;
              transform: translateX(-50%);
              box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
              flex-direction: column;

              @media (max-width: 375px) {
                right: -34%;
              }

              .space-between {
                flex-direction: row;
                justify-content: space-between;
                color: #ffffff;
                font-size: 12px;
                width: 100%;
                padding-bottom: 15px;

                .txt-c {
                  color: #ffffff;
                  font-size: 12px;
                }
              }

              &:after {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid var(--text-color-20);
                position: absolute;
                bottom: -7px;
                left: 92%;
                transform: translateX(-50%);
              }
            }
          }

          //快捷
          .quick-row {
            span.select-all {
              color: var(--primary-color);
            }

            .laber {
              border-left: 1px solid #eaecef;
              margin-left: 10px;
              margin-right: 10px;
            }

            .txt {
              // padding-right: 18px;
              color: #b7bdc6;
            }
          }

          //选择栏
          .select {
            height: 48px;
            margin-top: 8px;
            margin-bottom: 12px;
            border-radius: 4px;
            border: solid 1px var(--default-border-color);
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 14px;
            user-select: none;
            &.disabled {
              opacity: 0.5;
              cursor: not-allowed;
              pointer-events: none;
            }

            @media (max-width: 767px) {
              margin-bottom: 0;
            }

            &:hover {
              .drop-dowm {
                background-image: url(src/assets/images/kyc/hover-down.png);
              }
            }

            .selected-row {
              flex-direction: row;
              align-items: center;
              color: var(--text-color);

              .txt {
                color: var(--text-color);
                font-size: 14px;

                @media (max-width: 767px) {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  width: 264px;
                }
              }

              .value {
                color: #b7bdc6;
                margin-left: 8px;
              }

              img {
                height: 28px;
                width: 28px;
                margin-right: 20px;
              }
            }

            .drop-dowm {
              background-image: url(src/assets/images/kyc/defauit-down.png);
              margin-right: 16.8px;
              background-size: 20px 20px;
              background-repeat: no-repeat;
              width: 20px;
              height: 20px;

              &.clicked {
                background-image: url(src/assets/images/kyc/hover-down.png);
              }
            }

            .placeholder-txt-color {
              color: #b7bdc6;
            }
          }

          //货币icon组
          .icon-gourp {
            .offset-right {
              margin-right: 24px;
              color: #2f2f2f;
              font-size: 14px;
              align-items: center;

              .icon-btc,
              .icon-eth,
              .icon-usdt,
              .icon-usdc,
              .icon-trx {
                height: 24px;
                width: 24px;
                background-size: 24px 24px;
                background-repeat: no-repeat;
                margin-right: 8px;
              }

              .icon-btc {
                background-image: url(src/assets/images/wallet/btc.png);
              }

              .icon-eth {
                background-image: url(src/assets/images/wallet/eth.png);
              }

              .icon-usdt {
                background-image: url(src/assets/images/wallet/usdt.png);
              }

              .icon-usdc {
                background-image: url(src/assets/images/wallet/usdc.png);
              }

              .icon-trx {
                background-image: url(src/assets/images/wallet/trx.png);
              }
            }
          }
        }

        .details {
          flex-direction: column;
          padding-top: 8px;

          .row-root {
            flex-direction: row;
            padding-bottom: 16px;

            @media (max-width: 767px) {
              padding-bottom: 20px;
            }

            &.n-p {
              padding-bottom: 0;
            }

            .txt-root {
              font-size: 14px;
              flex-direction: column;
              color: var(--text-color-20);

              &.p-r {
                padding-right: 171px;

                @media (max-width: 767px) {
                  padding-right: 88px;
                }
              }

              .txt-with {
                width: max-content;
              }

              span {
                color: var(--text-color);
                padding-top: 8px;
              }
            }
          }
        }
      }

      // tabs
      .tabs {
        padding-bottom: 27px;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
          padding-bottom: 24px;
        }

        .tab {
          border-radius: 4px;
          width: 102px;
          height: 40px;
          align-items: center;
          justify-content: center;
          margin-right: 16px;
          color: var(--text-color-20);
          font-size: 14px;

          &.active {
            background-color: #f5f5f5;
            color: var(--text-color);

            &:host-context(.dark) & {
              background-color: #2f4553;
            }
          }
        }

        .address-link {
          color: var(--primary-color);
          cursor: pointer;
          user-select: none;
          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }

    //温馨提示
    .tips-root {
      @media (max-width: 767px) {
        order: 3;
      }
    }

    //
    .withdraw-history {
      width: 100%;
    }
  }
}

.avail-amount {
  display: flex;
  @include polyfills.flex-gap(6px, 'row nowrap');
  align-items: center;
  font-size: 14px;

  @media (max-width: 767px) {
    margin-top: 8px;
    margin-left: auto;
  }

  > span {
    color: var(--text-color) !important;
  }

  > em {
    opacity: 0.5;
  }

  app-tool-tip {
    margin-top: 2px;
  }
}

.limit-pop {
  display: flex;
  flex-direction: column;
  @include polyfills.flex-gap(10px, 'column nowrap');
  padding: 5px 6px;
  min-width: 200px;

  > div {
    display: flex;
    justify-content: space-between;
    @include polyfills.flex-gap(10px, 'row nowrap');
  }
}
