@use 'sass/tools';

@include tools.tabs('tabs') {
  height: 60px;
}
@include tools.triangle;

:host {
  .title {
    white-space: nowrap;
    font-size: 16px;
    color: #969bad;
  }

  .name {
    font-size: 20px;
    color: #181c32;
    margin-bottom: 10px;
  }

  .field-input {
    margin-left: 15px;
  }

  input[type='checkbox'] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }

  table {
    .btn-default {
      color: #7e8299;
    }
  }
}

.card-body {
  padding: 15px 26px;
}

.list {
  .title {
    color: #181c32;
    font-size: 20px;
  }

  .edit {
    padding: 7px 13px;
    line-height: 20px;
    font-size: 14px;
    background-color: #f5f8fa;
    cursor: pointer;
    color: #7e8299;
    transition: all 0.2s linear;
    border-radius: 6px;

    &:hover {
      color: #7e8299;
      background-color: #e4e6ef;
    }

    &-danger {
      color: #f1416c;

      &:hover {
        color: #fff;
        background-color: #f1416c;
      }
    }
  }

  .paginator {
    ::ng-deep {
      .form-control,
      .react-bootstrap-table-pagin {
        display: none;
      }
    }
  }
}

.state-select {
  &::ng-deep {
    .mat-select-value {
      color: #969bad;
      font-size: 14px;
    }
  }
}

.info-icon {
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.icon-sort {
  width: 14px;
  height: 2px;
  flex: 0 0 2px;
  background: #a1a5b7;
  display: inline-block;

  &:nth-child(2) {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-left: 2%;
  padding-right: 2%;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
