@use 'sass/tools/sort' as *;

.withdraw {
  &-wrap {
    grid-gap: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}

.withdraw-bg {
  background: #fff;
  border-radius: 6px;
  display: block;
  padding: 20px;
}

.ex-header {
  cursor: auto;
}

.rule {
  &-wrap {
    padding-top: 20px;
  }

  &-item {
    margin-bottom: 20px;

    &-iconbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 36px;
      width: 30px;
      margin-left: 2px;
      margin-right: 2px;
      cursor: pointer;
      color: var(--bs-gray-600);
      transition: all 200ms linear;

      &:hover {
        color: var(--bs-primary);
      }
    }
  }

  &-remark {
    width: 180px;
    height: 36px;
  }
}

.group-config {
  max-width: 580px;
  min-width: 260px;
  white-space: nowrap;
  flex: 1;

  &-item {
    min-height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 200ms linear, color 200ms linear;
    background: #eef0f8;

    &.active {
      background: #009ef7;
      color: #f1faff;
    }

    &:not(.active):hover {
      background: #f1faff;
      color: #009ef7;
    }

    &:hover &-opera {
      opacity: 1;
    }

    &-opera {
      opacity: 0;
      transition: opacity 200ms linear;
    }

    &-wrap {
      padding-top: 10px;
    }

    &-name {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      line-height: 18px;
      text-overflow: ellipsis;
    }

    //&:not(.active) &-opera {
    //  display: none;
    //}
    //
    //&:hover &-opera {
    //  display: block;
    //}
  }

  &-search {
    padding-left: 20px;
    padding-right: 6px;
    height: 40px;
  }
}

@include iconSort;
@include iconSortDrag;
