:host {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  border-radius: 6px;
  overflow: hidden;
}

.info-left,
.info-right {
  background: #fff;
  min-width: 0;
  flex: 1;

  .row {
    min-width: 0;
  }

  .color-1,
  .color-6 {
    color: #2697ff;

    &-bg {
      background: #e9f5ff;
    }
  }

  .color-2,
  .color-7 {
    color: #fe9d40;

    &-bg {
      background: #fff6ec;
    }
  }

  .color-3,
  .color-8 {
    color: #ff4167;

    &-bg {
      background: #ffebeb;
    }
  }

  .color-4 {
    color: #ba6bef;

    &-bg {
      background: #f2e7f3;
    }
  }

  .color-5 {
    color: #42cd89;

    &-bg {
      background: #edfef5;
    }
  }

  ::ng-deep {
    .mat-select-value {
      color: currentColor;
    }
  }
}

.info-left {
  padding: 20px 25px 16px;
  flex: 0 0 57%;

  .item {
    display: flex;
    flex: 1;
    margin-bottom: 30px;
    min-width: 152px;

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .icon-wrap {
        width: 68px;
        height: 68px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-info {
      margin-left: 8px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;

      > div:first-child {
        font-size: 18px;
      }
    }
  }
}

.info-right {
  margin-left: 1px;
  padding: 16px 10px;

  .text-mini {
    font-size: 20px;
    margin-left: -20px;
    transform: scale(0.5);
    color: rgba(#373a49, 0.39);
  }
}

.right-show {
  .text-mini {
    margin-left: -44px;
  }
}

.status {
  width: 60px;
  border-radius: 6px;
  background: #f1faff;
  height: 34px;
  line-height: 34px;
  margin-left: 20px;
  text-align: center;
  color: #009ef7;
}

.first-save-time {
  letter-spacing: -1.4px;
}

.edit {
  width: 100px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
