<div class="container" [appLoading]="loading">
  <div class="content-box">
    <div class="search-bar" [class.disabled]="loading">
      <ng-container *ngIf="!isH5">
        <app-customize-form-group>
          <!--资产-->
          <app-customize-select
            [(value)]="selectedAssetType"
            [label]="'asset' | translate"
            [options]="assetTypeOptions"
            [valueKey]="'value'"
            [textKey]="'name'"
            (onSelect)="assetTypeChange()"
          ></app-customize-select>
          <!--币种-->
          <app-customize-select
            [(value)]="selectedCurrency"
            [label]="'curr' | translate"
            [options]="
              currencies | filterByKeyValue: 'isDigital' : selectedAssetType === 'crypto' | unshift: allCoinItem
            "
            [valueKey]="'currency'"
            [textKey]="'currency'"
          ></app-customize-select>
          <!--范围-->
          <app-customize-select
            [(value)]="selectedTimeValue"
            [(timeValue)]="selectedTime"
            [timeDance]="true"
            [label]="'scope' | translate"
            [options]="timeOptions"
          ></app-customize-select>
          <!--状态-->
          <app-customize-select
            [(value)]="selectedStatus"
            [label]="'status' | translate"
            [options]="statusList | unshift: allSatatusItem"
            [valueKey]="'code'"
            [textKey]="'description'"
          >
          </app-customize-select>
          <div class="form-group-align margin-right-auto">
            <customize-button size="small" type="text" (onClick)="reset()" [plain]="true">
              {{ 'reset' | translate }}
            </customize-button>
            <customize-button size="small" type="text" (onClick)="searchLoadData()" [plain]="true" [active]="true">
              {{ 'filter' | translate }}
            </customize-button>
          </div>
          <ng-container *ngTemplateOutlet="linkGroup"></ng-container>
        </app-customize-form-group>
      </ng-container>
      <ng-container *ngIf="isH5">
        <app-customize-form-group>
          <!--资产-->
          <app-customize-select
            [(value)]="selectedAssetType"
            [width]="'40vw'"
            [fixedHeight]="true"
            [label]="'asset' | translate"
            [options]="assetTypeOptions"
            [valueKey]="'value'"
            [textKey]="'name'"
            (onSelect)="assetTypeChange()"
          >
          </app-customize-select>
          <div class="form-group-align margin-left-auto">
            <i class="search-h5-bar-filter icon-filter mutual-opacity onact96-not" (click)="openh5Filter()"></i>
          </div>
        </app-customize-form-group>
        <ng-container *ngTemplateOutlet="linkGroup"></ng-container>
      </ng-container>
    </div>
    <ng-container *ngIf="selectedAssetType === 'currency'; else cryptoPage">
      <!-- web 法币 -->
      <table *ngIf="currencyHistory.length > 0 && !isH5">
        <thead>
          <th>{{ 'dates' | translate }}</th>
          <th>{{ 'order' | translate }}</th>
          <th>{{ 'withdraw_amount' | translate }}</th>
          <th>{{ 'overhead_fee_deduct' | translate }}</th>
          <th>{{ 'real_overhead_fee_deduct' | translate }}</th>
          <th>
            {{ 'crypto_fee' | translate }}
            <app-tool-tip class="tip inline-block">
              <i origin class="icon-warning mutual-opacity"></i>
              <p tooltip>{{ 'mine_fee' | translate }}</p>
            </app-tool-tip>
          </th>
          <th>{{ 'total_receive' | translate }}</th>
          <th>{{ 'pay_method' | translate }}</th>
          <th>{{ 'status' | translate }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of currencyHistory">
            <td class="word-break">{{ item.date | mdate: 'YYYY-MM-DD HH:mm' }}</td>
            <td class="word-break">{{ item.orderNum }}</td>
            <td [style.white-space]="'nowrap'">
              <p class="text">{{ item.amount | currencyValue: item.currency }}</p>
              <img class="currency-img" [src]="item.currency | currencyIcon" />
            </td>
            <td [style.white-space]="'nowrap'">
              <p class="text">{{ (item.feeWaiver < 0 ? 0 : item.feeWaiver) | currencyValue: item.currency }}</p>
              <img class="currency-img" [src]="item.currency | currencyIcon" />
            </td>
            <td [style.white-space]="'nowrap'">
              <p class="text">{{ item.fee | currencyValue: item.currency }}</p>
              <img class="currency-img" [src]="item.currency | currencyIcon" />
            </td>
            <td>
              {{ item.coinFee !== 0 ? (item.coinFee | currencyValue: item.token) : '-' }}
              <img class="currency-img" *ngIf="item.coinFee !== 0" [src]="item.token | currencyIcon" />
            </td>
            <td [style.white-space]="'nowrap'">
              <!-- 提法得虚 -->
              <ng-container *ngIf="item.token">
                <p class="text">
                  {{ item.coinAmount !== 0 ? (item.coinAmount | currencyValue: item.token) : '-' }}
                </p>
                <img *ngIf="item.coinAmount !== 0" class="currency-img" [src]="item.token | currencyIcon" />
              </ng-container>
              <!-- 普通 -->
              <ng-container *ngIf="!item.token">
                <p class="text">
                  {{ item.receiveAmount !== 0 ? (item.receiveAmount | currencyValue: item.currency) : '-' }}
                </p>
                <img *ngIf="item.receiveAmount !== 0" class="currency-img" [src]="item.currency | currencyIcon" />
              </ng-container>
            </td>
            <td>{{ item.paymentMethod }}</td>
            <td>
              <div class="status-control">
                <span class="status">
                  {{ item.statusName }}
                  <app-tool-tip class="tool-tip" *ngIf="item.status === 'Canceled'">
                    <i origin class="icon-warning mutual-opacity"></i>
                    <span tooltip>
                      <ng-container [ngSwitch]="item.failReason">
                        <ng-container *ngSwitchCase="0">
                          {{ 'other_reason' | translate }}
                        </ng-container>
                        <ng-container *ngSwitchCase="1">
                          {{ 'user_cancel' | translate }}
                        </ng-container>
                        <ng-container *ngSwitchCase="2">
                          {{ 'withdraw_fail' | translate }}
                        </ng-container>
                      </ng-container>
                    </span>
                  </app-tool-tip>
                </span>
                <span
                  class="cancel-order mutual-opacity onact96"
                  *ngIf="['Created', 'Waiting', 'Review', 'Passed'].includes(item.status)"
                  (click)="cancelOrder(item.orderNum)"
                >
                  <i class="icon-cancel-order"></i>
                  <span>{{ 'cancel' | translate }}</span>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- H5 法币 -->
      <ul class="currencyContainer-H5" *ngIf="currencyHistory.length > 0 && isH5">
        <li class="item" *ngFor="let item of currencyHistory">
          <div class="group first">
            <span>{{ 'withdrawl' | translate }}</span>
            <p class="onact96-not" [ngClass]="[getStatusTemplate(item.status)?.calss]" (click)="openh5Detail(item)">
              {{ item.statusName }}
              <i class="icon-arrow-right-simple"></i>
            </p>
          </div>
          <div class="group">
            <span>{{ 'dates' | translate }}：</span>
            <p>{{ item.date | mdate: 'YYYY-MM-DD HH:mm' }}</p>
          </div>
          <div class="group">
            <span>{{ 'amount' | translate }}：</span>
            <p>
              {{ item.amount }}
              <img [src]="item.currency | currencyIcon" />
            </p>
          </div>
          <div class="group">
            <span>{{ 'pay_methods' | translate }}：</span>
            <p>{{ item.paymentMethod }}</p>
          </div>
          <div class="group">
            <span>{{ 'order' | translate }}：</span>
            <p>{{ item.orderNum }}</p>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #cryptoPage>
      <!-- web 数字货币 -->
      <ul class="cryptoContainer" *ngIf="cryptoHistory.length > 0 && !isH5">
        <li class="item" *ngFor="let item of cryptoHistory">
          <div class="item-top">
            <p>
              {{ item.amount | currencyValue: item.currency }} {{ item.currency }}
              <img [src]="item.currency | currencyIcon" />
            </p>
            <span [ngClass]="[getStatusTemplate(item.status)?.calss]">
              {{ item.statusName }}
            </span>
          </div>
          <ul class="item-bottom" [class.no-txid]="!item.txid">
            <li class="group">
              <span>{{ item.date | mdate: 'YYYY-MM-DD HH:mm' }}</span>
            </li>
            <li class="group network-group">
              <span>{{ 'trans_network' | translate }}：</span>
              <p>
                <span>{{ item.network }}</span>
              </p>
            </li>
            <li class="group addresse-group">
              <span>{{ 'address' | translate }}：</span>
              <p>
                <span class="addresse">{{ item.address }}</span>
                <!-- <i class="icon-link"></i> -->
                <app-tool-tip [copyMode]="'icon'" [copyContent]="item.address"> </app-tool-tip>
              </p>
            </li>
            <li class="group txid-group">
              <ng-container *ngIf="item.txid">
                <span>{{ 'tx_ad' | translate }}：</span>
                <p>
                  <span class="addresse">{{ getAddresseElipsis(item.txid) }}</span>
                  <!-- <i class="icon-link"></i> -->
                  <app-tool-tip [copyMode]="'icon'" [copyContent]="item.txid"> </app-tool-tip>
                </p>
              </ng-container>
            </li>
          </ul>
        </li>
      </ul>
      <!-- H5 数字货币 -->
      <ul class="cryptoContainer-H5" *ngIf="cryptoHistory.length > 0 && isH5">
        <li class="item" *ngFor="let item of cryptoHistory">
          <div class="group item-top">
            <div class="item-top-left">
              <p>
                {{ item.amount | currencyValue: item.currency }} {{ item.currency }}
                <img [src]="item.currency | currencyIcon" />
              </p>
              <span [ngClass]="[getStatusTemplate(item.status)?.calss]">
                {{ item.statusName }}
              </span>
            </div>
            <div class="item-top-right">
              <span>{{ 'trans_network' | translate }}：</span>
              <p>{{ item.network }}</p>
            </div>
          </div>
          <div class="group item-center">
            <span>{{ 'address' | translate }}：</span>
            <p>{{ getAddresseElipsis(item.address) }}</p>
            <div class="item-center-right">
              <!-- <i class="icon-link"></i> -->
              <app-tool-tip [copyMode]="'icon'" [copyContent]="item.address"> </app-tool-tip>
            </div>
          </div>
          <div class="group item-center" *ngIf="item.txid">
            <span>{{ 'tx_ad' | translate }}：</span>
            <p>{{ getAddresseElipsis(item.txid) }}</p>
            <div class="item-center-right">
              <!-- <i class="icon-link"></i> -->
              <app-tool-tip [copyMode]="'icon'" [copyContent]="item.txid"> </app-tool-tip>
            </div>
          </div>
          <div class="group item-bottom">
            <span>{{ item.date | mdate: 'YYYY-MM-DD HH:mm' }}</span>
            <div class="item-bottom-right onact96" (click)="openh5Detail(item)">
              <i class="icon-arrow-right-simple"></i>
            </div>
          </div>
        </li>
      </ul>
    </ng-template>
    <!-- 空内容 -->
    <app-empty
      *ngIf="
        ((selectedAssetType === 'currency' && currencyHistory.length <= 0) ||
          (selectedAssetType === 'crypto' && cryptoHistory.length <= 0)) &&
        !loading
      "
    >
    </app-empty>
    <app-paginator
      *ngIf="currencyHistory.length > 0 || cryptoHistory.length > 0"
      [(page)]="paginator.page"
      [total]="paginator.total"
      [pageSize]="paginator.pageSize"
      [disabled]="loading"
      [loading]="loading"
      (onPageChange)="onSearch()"
    >
    </app-paginator>
  </div>
</div>

<!-- h5选择选项弹窗模板 -->
<ng-template #h5Filter>
  <div class="popup-full select-popup h5FilterPopup">
    <div class="popup-head">
      <div class="title">{{ 'filter' | translate }}</div>
      <span class="popup-close-icon onact96-not" (click)="h5FilterPopup.close()"></span>
    </div>
    <div class="popup-body">
      <app-customize-form-group [column]="true">
        <!--币种-->
        <app-customize-select
          [(value)]="selectedCurrency"
          [label]="'curr' | translate"
          [options]="currencies | filterByKeyValue: 'isDigital' : selectedAssetType === 'crypto' | unshift: allCoinItem"
          [valueKey]="'currency'"
          [textKey]="'currency'"
        ></app-customize-select>
        <!--范围-->
        <app-customize-select
          [(value)]="selectedTimeValue"
          [(timeValue)]="selectedTime"
          [timeDance]="true"
          [label]="'scope' | translate"
          [options]="timeOptions"
        ></app-customize-select>
        <!--状态-->
        <app-customize-select
          [(value)]="selectedStatus"
          [label]="'status' | translate"
          [options]="statusList | unshift: allSatatusItem"
          [valueKey]="'code'"
          [textKey]="'description'"
        >
        </app-customize-select>
      </app-customize-form-group>
      <div class="popup-btn-group">
        <customize-button width="100%" (onClick)="reset()">
          {{ 'reset' | translate }}
        </customize-button>
        <customize-button
          class="popup-btn-margin-left"
          type="primary"
          width="100%"
          (onClick)="h5FilterPopup.close(); searchLoadData()"
        >
          {{ 'filter' | translate }}
        </customize-button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #linkGroup>
  <div class="form-group-align link-group">
    <!-- 目前沒有提現未到帳頁面 -->
    <!-- <span class="link mutual-opacity">{{ 'wd_no_arr' | translate }}</span> -->
    <div class="export mutual-opacity" *ngIf="!isH5">
      <!-- TODO: lris反馈暂无此功能，暂时蔽掉 -->
      <!-- <div class="export-icon"></div>
      <div class="export-text">{{'export_wd'|translate}}</div> -->
    </div>
  </div>
</ng-template>

<!-- h5详情弹窗模板 -->
<ng-template #detailData>
  <div class="h5-detail-popup" *ngIf="selectedItem">
    <div class="title">
      <span>{{ 'wd_details' | translate }}</span>
      <i class="mutual-opacity icon-close-simple onact96-not" (click)="detailDataPopup.close()"></i>
    </div>
    <ul class="info-box">
      <li class="group">
        <p>{{ 'dates' | translate }}</p>
        <span>{{ selectedItem.date | mdate: 'YYYY-MM-DD HH:mm:ss' }}</span>
      </li>
      <li class="group" *ngIf="selectedAssetType === 'currency'">
        <p>{{ 'order' | translate }}</p>
        <span>{{ selectedItem.orderNum }}</span>
      </li>
      <li class="group">
        <p>{{ 'type' | translate }}</p>
        <span>{{ 'withdrawl' | translate }}</span>
      </li>
      <li class="group">
        <p>{{ 'curr' | translate }}</p>
        <span>{{ selectedItem.currency }}</span>
      </li>
      <li class="group">
        <p>{{ 'withdraw_amount' | translate }}</p>
        <span>{{ selectedItem.amount | currencyValue: selectedItem.currency }}</span>
      </li>
      <ng-container *ngIf="selectedAssetType === 'currency'">
        <li class="group">
          <p>{{ 'overhead_fee_deduct' | translate }}</p>
          <span>{{
            (selectedItem.feeWaiver < 0 ? 0 : selectedItem.feeWaiver) | currencyValue: selectedItem.currency
          }}</span>
        </li>
        <li class="group">
          <p>{{ 'real_overhead_fee_deduct' | translate }}</p>
          <span>{{ selectedItem.fee | currencyValue: selectedItem.currency }}</span>
        </li>
        <li class="group">
          <p>
            {{ 'crypto_fee' | translate }}
            <app-tool-tip class="tip inline-block">
              <i origin class="icon-warning mutual-opacity"></i>
              <p tooltip>{{ 'mine_fee' | translate }}</p>
            </app-tool-tip>
          </p>
          <span>
            {{ selectedItem.coinFee !== 0 ? (selectedItem.coinFee | currencyValue: selectedItem.token) : '-' }}
            <img class="currency-img" *ngIf="selectedItem.coinFee !== 0" [src]="selectedItem.token | currencyIcon" />
          </span>
        </li>
        <li class="group">
          <p>{{ 'total_receive' | translate }}</p>
          <!-- 提法得虚 -->
          <ng-container *ngIf="selectedItem.token">
            <span>
              {{ selectedItem.coinAmount !== 0 ? (selectedItem.coinAmount | currencyValue: selectedItem.token) : '-' }}
              <img
                *ngIf="selectedItem.coinAmount !== 0"
                class="currency-img"
                [src]="selectedItem.token | currencyIcon"
              />
            </span>
          </ng-container>
          <!-- 普通 提法 -->
          <ng-container *ngIf="!selectedItem.token">
            <span>{{
              selectedItem.receiveAmount !== 0
                ? (selectedItem.receiveAmount | currencyValue: selectedItem.currency)
                : '-'
            }}</span>
          </ng-container>
        </li>
      </ng-container>
      <li class="group" *ngIf="selectedAssetType === 'crypto'">
        <p>{{ 'address' | translate }}</p>
        <span>
          <span class="addresse">{{ selectedItem.address }}</span>
          <!-- <i class="icon-link"></i> -->
          <app-tool-tip [copyMode]="'icon'" [copyContent]="selectedItem.address"> </app-tool-tip>
        </span>
      </li>
      <li class="group" *ngIf="selectedAssetType === 'crypto' && selectedItem.txid">
        <p>TxID</p>
        <span>
          <span class="addresse">{{ selectedItem.txid }}</span>
          <!-- <i class="icon-link"></i> -->
          <app-tool-tip [copyMode]="'icon'" [copyContent]="selectedItem.txid"> </app-tool-tip>
        </span>
      </li>
      <li class="group" *ngIf="selectedAssetType === 'currency'">
        <p>{{ 'pay_method' | translate }}</p>
        <span>{{ selectedItem.paymentMethod }}</span>
      </li>
      <li class="group">
        <p>{{ 'status' | translate }}</p>
        <span>
          {{ selectedItem.statusName }}
          <app-tool-tip class="tool-tip" *ngIf="selectedItem.status === 'Canceled'">
            <i origin class="icon-warning mutual-opacity"></i>
            <span tooltip>
              <ng-container [ngSwitch]="selectedItem.failReason">
                <ng-container *ngSwitchCase="0">
                  {{ 'other_reason' | translate }}
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  {{ 'user_cancel' | translate }}
                </ng-container>
                <ng-container *ngSwitchCase="2">
                  {{ 'withdraw_fail' | translate }}
                </ng-container>
              </ng-container>
            </span>
          </app-tool-tip>
        </span>
      </li>
    </ul>
    <div
      class="cancel-order-btn mutual-opacity onact96"
      *ngIf="
        selectedAssetType === 'currency' && ['Created', 'Waiting', 'Review', 'Passed'].includes(selectedItem.status)
      "
      (click)="cancelOrder(selectedItem.orderNum)"
    >
      <i class="icon-cancel-order"></i>
      <span>{{ 'cancel' | translate }}</span>
    </div>
  </div>
</ng-template>
