.share-community {
  width: 476px;
  background: var(--page-bg-color);
  overflow: hidden;
  position: relative;
  @media (max-width: 767px) {
    width: 355px;
  }

  .friend-data-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18.5px 18px;
    font-size: 20px;
    color: var(--text-color);

    .icon-error {
      font-size: 12px;
      color: var(--text-color-20) !important;
      transition: all 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
      cursor: pointer;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .content {
    padding: 20px 30px;
    color: var(--text-color-20);
    p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    .radio-field {
      .label-name {
        font-weight: 400;
        font-size: 14px;
      }
      ::ng-deep {
        .radio-group {
          display: flex;
          flex-direction: column;
          .radio-button {
            display: block;
            margin-top: 21px;
            .mdc-form-field {
              .mdc-label {
                padding-left: 20px;
                font-size: 14px;
                color: var(--text-color);
                @media (max-width: 767px) {
                  font-size: 12px;
                }
              }
              .mdc-radio__native-control,
              .mdc-radio__background {
                width: 20px !important;
                height: 20px !important;
              }
              .mdc-radio__outer-circle {
                border-color: #b9b9b9 !important;
                :host-context(.dark) & {
                  border-color: #2f4553 !important;
                }
              }
            }
          }
        }
      }
    }

    .selected-checked {
      margin-top: 20px;
      ::ng-deep {
        .mdc-label {
          padding-left: 10px;
          font-size: 14px;
          color: var(--text-color);
          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
        .mdc-checkbox
          .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate='true'])
          ~ .mdc-checkbox__background {
          border-color: var(--border);
        }
      }
    }

    .fo-bot {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
    .close_btn {
    }
    .account_btn {
      ::ng-deep.primary {
        background-color: #cf304a !important;
        border-color: #cf304a !important;
      }
    }
  }
}
