@use 'src/assets/styles/compatibility-fixe.scss' as polyfills;
@import '../responsible-concept/responsible-concept.component.scss';

.operation-container {
  padding-top: 30px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 58px;
  }
}

.m-top-50 {
  margin-top: 50px;
}

.content {
  .title {
    display: flex;
    align-items: center;
    @include polyfills.flex-gap(20px, 'row nowrap');
    font-size: 20px;
    color: var(--text-color-20);
    margin-bottom: 20px;

    .title-img {
      width: 28px;
      height: 28px;
    }
  }

  .context {
    flex-direction: column;
    font-size: 16px;
    line-height: 2.5;
    text-align: left;
    color: var(--text-color-20);

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 2.14;
    }
  }
}

.bottom {
  padding: 10px 20px 10px 14px;
  background-color: var(--bg-color-10);
  position: relative;
  margin-top: 40px;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
  }

  .bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page {
    color: var(--primary-color);
    font-size: 16px;
  }
}
