.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 80px;

  div {
    display: flex;
  }

  .title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 38px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .warning-container {
    max-width: 506px;
    min-height: 48px;
    padding: 15px 12px 15px 17px;
    background-color: #fae9e4;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
    margin-bottom: 35px;

    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      padding: 15px 12px;
    }

    .warning-icon {
      width: 18px;
      height: 18px;
      margin-right: 17px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(src/assets/svg/warning-icon.svg);
    }
  }

  .form-container {
    width: 416px;
    flex-direction: column;
    border-radius: 2px;
    background-color: #fff;

    &:host-context(.dark) & {
      background-color: #0f212e;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
    }
  }

  //Form表单
  .form-group {
    flex-direction: column;
    margin-top: 25px;

    &:nth-child(1) {
      margin-top: 0;
    }

    label {
      font-size: 14px;
      color: var(--text-color);
      line-height: 14px;
    }

    .input-group {
      border-radius: 4px;
      border: solid 1px var(--input-border-color);
      margin-top: 7px;
      height: 48px;
      align-items: center;
      padding-right: 15px;

      &:host-context(.dark) & {
        background-color: var(--bg-color-10);
        color: #fff;
      }

      &:hover,
      &.focus {
        border-color: var(--primary-color);
      }

      &.error {
        border-color: var(--txt-err-color);
      }

      &.disabled {
        background-color: var(--input-border-color);
        border: none;
      }

      &.hidden {
        display: none;
      }

      input {
        outline: none;
        border: none;
        flex: 1;
        padding: 15px;
        font-size: 14px;
        color: #333;
        height: 100%;
        border-radius: 4px;

        &:host-context(.dark) & {
          background-color: var(--bg-color-10);
          color: #fff;
        }

        &:disabled {
          background-color: transparent;
        }
      }

      input::-ms-reveal {
        display: none;
      }

      //密码显示与隐藏的ICON
      //清除ICON
      .icon-clear,
      .icon-pwd-show,
      .icon-pwd-hidden {
        font-size: 22px;
        margin-left: 15px;
        cursor: pointer;
        user-select: none;
        &:hover::before {
          color: var(--text-color-20);
        }
      }
    }

    // 规则验证浮动框
    .valid-pop-container {
      position: relative;

      .valid-pop {
        padding: 10px 15px;
        border-radius: 4px;
        background-color: #5e6673;
        color: #fff;
        font-size: 14px;
        flex-direction: column;
        position: absolute;
        top: 8px;
        right: 9px;
        z-index: 6;

        @media (max-width: 767px) {
          right: 85px;
          top: 13px;
          font-size: 12px;
          padding: 10px 12px;
        }

        i {
          margin-left: 10px;
          font-size: 12px;
        }

        p {
          display: flex;
          align-items: center;
        }

        p:not(:last-child) {
          margin-bottom: 14px;
        }
      }
    }

    //输入框错误信息
    .error-msg {
      color: var(--txt-err-color);
      font-size: 14px;
      line-height: 14px;
      margin-top: 7px;
    }

    //密码强度
    .pwd-strength-container {
      margin-top: 6px;
      position: relative;
      flex-direction: column;

      .pwd-strength {
        height: 4px;
        background-color: #e8e8e8;

        span {
          flex: 1;

          &:not(:last-child) {
            margin-right: 3px;
          }
        }

        .lv1 {
          background-color: #ff4d4d;
        }

        .lv2 {
          background-color: #ff944d;
        }

        .lv3 {
          background-color: #ffc44d;
        }

        .lv4 {
          background-color: #15bf7b;
        }
      }

      //文字提示
      .strength-tip {
        color: #474d57;
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 4px;
        line-height: 20px;

        &:host-context(.dark) & {
          color: #fff;
        }
      }
    }
  }

  //提交按钮
  .btn {
    margin-top: 25px;
  }
}

//返回 btn
.back-btn {
  margin-top: 40px;
}
