.item {
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 0;
  padding-left: 24px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: #f5f5f5;
  }
}
