<div class="card py-8 px-12 flex-row flex-wrap">
  <form-row label="UID" class="mr-8" [contentWidth]="200">
    <ng-template>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="data.uid"
        (keyup)="$event.keyCode === 13 && loadData(true)"
      />
    </ng-template>
  </form-row>
  <form-row [label]="'report.playerItem.accountManager' | lang" class="mr-8">
    <ng-template>
      <mat-form-field [style.width.px]="120">
        <mat-select class="form-control" [(ngModel)]="data.accountId" (selectionChange)="loadData(true)">
          <mat-option value="">
            {{ 'common.all' | lang }}
          </mat-option>
          <mat-option *ngFor="let item of accountManagerList" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </form-row>

  <!-- 日期范围 -->
  <form-row [label]="'report.playerItem.firstTimePeriod' | lang" class="mr-8" required>
    <ng-template>
      <input
        class="text-center form-control"
        type="text"
        [placeholder]="'form.chooseTime' | lang"
        selectMode="date-range"
        formatLabel="yyyy-MM-dd"
        rangeSeparator="-"
        [owlDateTime]="tradePicker"
        [owlDateTimeTrigger]="tradePicker"
        [(ngModel)]="data.firstTimePeriod"
        (dateTimeChange)="loadData(true)"
      />
      <owl-date-time pickerType="calendar" class="fz-20" #tradePicker></owl-date-time>
    </ng-template>
  </form-row>

  <!-- 日期范围 -->
  <form-row [label]="'report.playerItem.secondTimePeriod' | lang" class="mr-8" required>
    <ng-template>
      <input
        class="text-center form-control"
        type="text"
        [placeholder]="'form.chooseTime' | lang"
        selectMode="date-range"
        formatLabel="yyyy-MM-dd"
        rangeSeparator="-"
        [owlDateTime]="tradePickerTwo"
        [owlDateTimeTrigger]="tradePickerTwo"
        [(ngModel)]="data.secondTimePeriod"
        (dateTimeChange)="loadData(true)"
      />
      <owl-date-time pickerType="calendar" class="fz-20" #tradePickerTwo></owl-date-time>
    </ng-template>
  </form-row>

  <div class="btn-wrap py-2">
    <button class="c-btn c-btn-default" [disabled]="appService.isContentLoadingSubject | async" (click)="onReset()">
      {{ 'common.reset' | lang }}
    </button>
    <button
      class="c-btn c-btn-primary"
      [disabled]="appService.isContentLoadingSubject | async"
      (click)="loadData(true)"
    >
      {{ 'common.confirm' | lang }}
    </button>
  </div>
</div>

<div class="mt-6 card card-body">
  <div class="d-flex flex-ac">
    <div class="fz-20 flex-1">{{ 'report.vipComparison' | lang }}</div>

    <!-- <button type="button" class="ml-6 btn btn-light-primary" (click)="onExport()">
      <svg-icon [src]="'./assets/images/svg/export.svg'" class="svg-icon svg-icon-lg"></svg-icon>
      <span class="vam">{{ 'common.export' | lang }}</span>
    </button> -->

    <div>
      <!-- 导出全部 -->
      <button (click)="onExport(true)" type="button" class="ml-6 btn btn-light-primary py-3 px-9">
        <svg-icon [src]="'./assets/images/svg/export.svg'" class="svg-icon"></svg-icon>
        <span class="vam">{{ 'game.provider.exportAll' | lang }}</span>
      </button>
      <!-- 导出 -->
      <button (click)="onExport(false)" type="button" class="ml-6 btn btn-light-primary py-3 px-9">
        <svg-icon [src]="'./assets/images/svg/export.svg'" class="svg-icon"></svg-icon>
        <span class="vam">{{ 'game.provider.export' | lang }}</span>
      </button>
    </div>
  </div>

  <div class="pt-5">
    <div class="export-table-wrap">
      <table class="table mb-0" *ngIf="list.length">
        <thead>
          <tr>
            <th>
              <span class="cell">{{ 'report.playerItem.timePeriod' | lang }}</span>
            </th>
            <th>
              <span class="cell">UID</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.accountManager' | lang }}</span>
            </th>
            <!-- <th>
              <span class="cell">{{ 'report.playerItem.createTime' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.isFirstVip' | lang }}</span>
            </th> -->
            <!-- <th>
              <span class="cell">{{ 'report.playerItem.bindAccountTime' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.lastLoginTime' | lang }}</span>
            </th> -->
            <th>
              <span class="cell">{{ 'report.playerItem.totalDeposit' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.depositCount' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.totalWithdrawal' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.withdrawCount' | lang }}</span>
            </th>
            <th>
              <span class="cell">NGR</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.vipActiveDay' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.activeDaysMonth' | lang }}</span>
            </th>
            <th style="min-width: 180px">
              <span class="cell">{{ 'report.playerItem.activeThirtyDay' | lang }}</span>
            </th>
            <th style="min-width: 180px">
              <span class="cell">{{ 'report.playerItem.accountActiveDay' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.casinoActiveFlow' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.sportsActiveFlow' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.totalActiveFlow' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.toBon' | lang }}%</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.toDep' | lang }}%</span>
            </th>
            <th style="min-width: 180px">
              <span class="cell">{{ 'report.playerItem.totalAmount' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.bonusesCount' | lang }}</span>
            </th>
            <!-- <th style="min-width: 180px">
              <span class="cell">{{ 'report.playerItem.avgBetCasino' | lang }}</span>
            </th>
            <th style="min-width: 180px">
              <span class="cell">{{ 'report.playerItem.avgBetSports' | lang }}</span>
            </th>
            <th>
              <span class="cell">{{ 'report.playerItem.avgBet' | lang }}</span>
            </th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i = index">
            <td>
              <span class="cell">{{ item.timePeriod }}</span>
            </td>
            <td>
              <span class="cell">{{ item.uid }}</span>
            </td>
            <td>
              <span class="cell">{{ item.accountManager || '-' }}</span>
            </td>
            <!-- <td>
              <span class="cell">{{ item.createTime | timeFormat }}</span>
            </td>
            <td>
              <span class="cell">{{ (item.isFirstVip ? 'common.yes' : 'common.no') | lang }}</span>
            </td> -->
            <!-- <td>
              <span class="cell">{{ item.bindAccountTime | timeFormat }}</span>
            </td>
            <td>
              <span class="cell">{{ item.lastLoginTime | timeFormat }}</span>
            </td> -->
            <td>
              <span class="cell">{{ item.totalDeposit | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.depositCount }}</span>
            </td>
            <td>
              <span class="cell">{{ item.totalWithdrawal | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.withdrawCount }}</span>
            </td>
            <td>
              <span class="cell">{{ item.ngr | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.vipActiveDay }}</span>
            </td>
            <td>
              <span class="cell">{{ item.activeDaysMonth }}</span>
            </td>
            <td>
              <span class="cell">{{ item.activeThirtyDay }}</span>
            </td>
            <td>
              <span class="cell">{{ item.accountActiveDay }}</span>
            </td>
            <td>
              <span class="cell">{{ item.casinoActiveFlow | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.sportsActiveFlow | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.totalActiveFlow | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.toBon | integer }}%</span>
            </td>
            <td>
              <span class="cell">{{ item.toDep | integer }}%</span>
            </td>
            <td>
              <span class="cell">{{ item.totalAmount | currencyValue: true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.bonusesCount }}</span>
            </td>
            <!-- <td>
              <span class="cell">{{ item.avgBetCasino | currencyValue : true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.avgBetSports | currencyValue : true }}</span>
            </td>
            <td>
              <span class="cell">{{ item.avgBet }}</span>
            </td> -->
          </tr>

          <!-- <span class="cell">{{ item[key] | currencyValue : true }}</span> -->
        </tbody>
      </table>
    </div>

    <empty *ngIf="!list.length"></empty>

    <!-- 页码 -->
    <div class="d-flex flex-between pt-10 table-footer" *ngIf="list.length > 0">
      <div>
        <mat-form-field [style.width.px]="68">
          <mat-select
            class="form-control"
            [(ngModel)]="paginator.pageSize"
            [style.height.px]="34"
            [style.font-size.px]="14"
            (selectionChange)="loadData(true)"
          >
            <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="paginator.total">
        <app-paginator
          class="paginator d-flex justify-content-between align-items-center flex-wrap py-0"
          [paginator]="paginator"
          (paginate)="loadData()"
        ></app-paginator>
      </div>
    </div>
  </div>
</div>
