@use 'src/assets/styles/compatibility-fixe.scss' as polyfills;

:host {
  width: 100%;
  flex: 0;
  font-size: 14px;

  &.error {
    .input-box {
      border-color: var(--txt-err-color) !important;
    }
  }
}

.input-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  .input-label {
    font-size: 14px;
    color: var(--text-color-20);
    margin-bottom: 8px;
    padding-left: 1px;
  }

  .input-box {
    display: flex;
    align-items: center;
    min-height: 40px;
    border: 1px solid var(--default-border-color);
    border-radius: 4px;
    background-color: #fff;
    width: 150px;
    cursor: pointer;
    padding: 8px 5px 8px 10px;
    transition: border 0.2s;
    @include polyfills.flex-gap(4px, 'row nowrap');

    &:host-context(.dark) & {
      background-color: var(--container-bg-color);
      color: #557086;
    }

    textarea {
      outline: none;
      border: none;
      background-color: transparent;
      height: 100%;
      font-size: 14px;
      color: var(--text-color);
      width: 100%;
      padding: 0;
      margin: 0;
      resize: none;
      padding-right: 5px;
      text-align: justify;
      line-height: normal;

      &[readonly] {
        pointer-events: none;
      }
    }

    textarea::placeholder {
      opacity: 0.4;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
