.guide-container {
  background-color: var(--container-bg-color);
  color: var(--text-color);
  width: 440px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 15px 18px 10px;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

  &.step4 {
    padding-bottom: 18px;
  }

  .tit {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 15px;

    span {
      font-weight: 500;
    }
  }

  .img-box {
    max-height: 50vh;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(#000, 0.1);
    position: relative;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 100%;
      display: none;
      object-fit: cover;
      object-position: top;
    }

    .web-img {
      @media (min-width: 768px) {
        display: block;
      }
    }

    .h5-img {
      @media (max-width: 767px) {
        display: block;
      }
    }

    .text-box {
      position: absolute;
      bottom: 19px;
      padding: 9px 14px;
      width: auto;
      max-width: 90%;
      background: rgba(0, 0, 0, 0.1);
      color: var(--text-white-at-night);
      border: 1px solid rgba(#fff, 0.2);
      border-radius: 6px;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      font-size: 14px;
      line-height: 20px;

      em {
        color: var(--primary-color);
        padding: 0 2px;
      }
    }
  }

  .foot {
    margin-top: 18px;
  }

  .skip {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    padding: 2px 0 3px;
    color: var(--primary-color-80);
    text-align: center;
  }
}
