@use 'sass:math';
.container {
  padding-top: 50px;
  padding-bottom: 120px;
  .form-column {
    max-width: 370px;
    margin: auto;
    @media (max-width: 767px) {
      max-width: 100%;
    }
    .form-item {
      margin-top: 25px;
      ::ng-deep {
        app-verify-code {
          label {
            color: var(--text-color-20);
          }
        }
      }
    }
    .final-btn {
      margin-top: 48px;
    }
  }
}
