.header {
  overflow: hidden;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    padding: 18px 0px 24px 18px;
    z-index: 2;

    .icon-arrow-left {
      font-size: 18px;
      color: var(--text-color);
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      color: var(--text-color);
      margin-right: 42px;
    }
  }
}

.light {
  background-color: var(--bg-color-10);
}
