<div class="main-container unity-padding-web unity-padding-h5-16">
  <div class="container group-container">
    <p class="text-16">{{ 'respon_tc' | translate }}</p>
    <div class="group m-top-20">
      <p class="text-30 text-center">{{ 'respon_td' | translate }}</p>
      <div class="level-two m-top-20">
        <img src="assets/images/responsible-gambling/left-img.svg" lazy="loading" alt="" />
        <div clas="right">
          <p class="text-primary-16">{{ 'con_info' | translate }}</p>
          <p class="line text-14 m-top-14">
            <img class="img" src="assets/images/responsible-gambling/support/compass.svg" lazy="loading" alt="" />
            <span class="multual-opacity">www.gamblingtherapy.org</span>
          </p>
          <p class="line text-14">
            <img class="img" src="assets/images/responsible-gambling/support/menu.svg" lazy="loading" alt="" />
            {{ 'respon_te' | translate }}
          </p>
        </div>
      </div>
      <p class="text-16 m-top-30">{{ 'respon_tf' | translate }}</p>
      <p class="text-primary-16 multual-opacity text-decoration m-top-20">
        {{ 'view_more' | translate }}
      </p>
      <p class="text-16 m-top-20">
        {{ 'respon_tg' | translate }}
        <i class="icon-correct"></i>
      </p>
    </div>
    <p class="cut-line m-top-30"></p>
    <div class="group m-top-20">
      <div class="level-two m-top-20">
        <img src="assets/images/responsible-gambling/right-img.png" lazy="loading" alt="" />
        <div clas="right">
          <p class="text-primary-16">{{ 'con_info' | translate }}</p>
          <p class="line text-14 m-top-14">
            <img class="img" src="assets/images/responsible-gambling/support/compass.svg" lazy="loading" alt="" />
            <span class="multual-opacity"> www.gamblersanonymous.org/ga</span>
          </p>
        </div>
      </div>
      <p class="text-16 m-top-30">
        {{ 'respon_th' | translate }}
      </p>
      <p class="text-primary-16 multual-opacity text-decoration m-top-20">
        {{ 'view_more' | translate }}
      </p>
      <p class="text-16 m-top-20">
        {{ 'respon_ti' | translate }}
        <i class="icon-correct"></i>
        <span class="second-line">
          {{ 'p_h' | translate }}
          <i class="icon-correct"></i>
        </span>
      </p>
    </div>
  </div>
</div>
