:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.review-detail-wrap {
  flex: 1;
  min-height: 0;
}

.w-200{
  min-width: 200px;
}

.popover-tpl{
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}