<div class="card px-12 py-8 d-flex flex-row">
  <ul class="box">
    <ng-container *ngIf="rankList.length; else noRank">
      <!-- 总冠军 -->
      <li>{{ 'member.activity.sencli9.champion' | lang }}</li>
      <li *ngFor="let item of rankList">
        <span class="mr-4">{{ item.uid }}</span>
        <img [currencyIcon]="'USDT'" currencySize="18" class="mr-2" />
        <span>{{ item.bonus | currencyValue: 'USDT' }}</span>
      </li>
    </ng-container>
    <!-- 暂无奖金领取排名！ -->
    <ng-template #noRank>{{ 'member.activity.sencli9.noChampionRank' | lang }}</ng-template>
  </ul>
</div>
<div class="card px-12 py-10 mt-8">
  <table class="table mb-0">
    <thead>
      <tr>
        <!-- 活动名称 -->
        <th>
          <span class="cell">{{ 'member.activity.sencli6.eventName' | lang }}</span>
        </th>
        <!-- 参与人数 -->
        <th>
          <span class="cell">{{ 'member.activity.sencli6.numberParticipants' | lang }}</span>
        </th>
        <!-- 冠军 -->
        <th>
          <span class="cell">{{ 'member.activity.sencli6.champion' | lang }}</span>
        </th>
        <!-- 总奖金发放 -->
        <th>
          <span class="cell volume">{{ 'member.activity.sencli6.bonus' | lang }}</span>
        </th>
        <!-- 查看详情 -->
        <th>
          <span class="cell">{{ 'member.activity.sencli6.seeDetails' | lang }}</span>
        </th>
      </tr>
    </thead>

    <tbody class="color-222">
      <tr *ngFor="let item of list">
        <!-- 活动名称 -->
        <td>
          <span class="cell">
            {{ item.activityName ? item.activityName : '-' }}
          </span>
        </td>
        <!-- 参与人数 -->
        <td>
          <span class="cell">
            <div class="imgBox">
              <img [src]="'./assets/images/svg/vector.svg'" class="svg-icon" />
            </div>
            <span class="ml-4">{{ item.totalUser ? item.totalUser : '-' }}</span>
          </span>
        </td>
        <!-- 冠军 -->
        <td>
          <span class="cell">
            {{ item.championUids ? item.championUids : '-' }}
          </span>
        </td>
        <!-- 总奖金发放 -->
        <td>
          <span class="cell">
            <img [currencyIcon]="'USDT'" currencySize="18" class="mr-4" />
            {{ item.totalBonus ? (item.totalBonus | currencyValue: 'USDT') : '-' }}
          </span>
        </td>
        <td>
          <div class="cell" (click)="goRankList(item.activityId)">
            <span class="text-nowrap label label-lg label-inline label-light-primary cursor-pointer">{{
              'member.activity.sencli6.seeDetails' | lang
            }}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 空显示 -->
  <div class="container-empty" *ngIf="!list.length && (appService.loading$ | async) === false">
    <div>
      <svg-icon [src]="'./assets/images/svg/icon-empty.svg'" class="svg-icon menu-icon"></svg-icon>
      <div class="txt">{{ 'common.emptyText' | lang }}</div>
    </div>
  </div>

  <div class="d-flex flex-between pt-30">
    <div>
      <mat-form-field [style.width.px]="68">
        <mat-select
          class="form-control rounded-0"
          [(ngModel)]="paginator.pageSize"
          [style.height.px]="34"
          [style.font-size.px]="14"
          (selectionChange)="getList(true)"
        >
          <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="paginator.total">
      <app-paginator
        class="paginator d-flex justify-content-between align-items-center flex-wrap"
        [paginator]="paginator"
        (paginate)="getList()"
        [isLoading]="appService.isContentLoadingSubject | async"
      ></app-paginator>
    </div>
  </div>
</div>
