:host {
  &::ng-deep {
    .tooltip .tooltip-inner {
      white-space: nowrap;
      max-width: 500px;
    }
  }
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.coupon-header {
  .overview-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item {
      width: 267px;
      height: 127px;
      display: flex;
      align-items: center;
      background: url(/assets/images/svg/coupon-group.svg) center no-repeat;
      background-size: 100%;
      position: relative;
      .item-tips {
        position: absolute;
        top: 17px;
        right: 21px;
        .tips-content {
          display: none;
          position: absolute;
          bottom: 25px;
          left: -95px;
          word-break: keep-all;
          height: 44px;
          padding: 0 12px;
          line-height: 44px;
          text-align: center;
          background: #fff;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          border-radius: 6px;
          &::after {
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #fff;
            position: absolute;
            bottom: -7px;
            left: 94px;
          }
        }

        &:hover {
          .tips-content {
            display: block;
          }
        }
      }

      &:last-child {
        .item-tips {
          .tips-content {
            left: -150px;
            &::after {
              left: 150px;
            }
          }
        }
      }
    }
  }
}

.triangle {
  margin-left: 5px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #a1a5b7;
  margin-top: 4px;

  &.active {
    border-bottom: 4px solid #3699ff;
  }
  &:active {
    border-top: 4px solid #3699ff;
  }
}

.triangle-down {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #a1a5b7;

  &.active {
    border-top: 4px solid #3699ff;
  }
  &:active {
    border-top: 4px solid #3699ff;
  }
}
