:host {
  width: 100%;
  background-color: var(--orignal-bg);

  @media (max-width: 767px) {
    height: 100%;
  }
}

div {
  display: flex;
}

.wrapper {
  width: 878px;
  margin: 10px auto 0px;
  /* 背景色/日间 */
  // background: var(--orignal-bg);
  /* 分隔线色/日间 */
  // border: 1px solid var(--orignal-border-color);
  // border-radius: 6px;
  flex-direction: column;
  position: relative;

  @media (max-width: 937px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }

  &-top {
    padding: 10px 16px;

    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }

  .game-field {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    padding: 10px 16px;

    @media (max-width: 576px) {
      padding-bottom: 0;
      padding-top: 0;
    }

    .game-field__inner {
      margin: auto;
      position: relative;
      display: block;

      .label {
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: var(--orignal-test-2);
        position: absolute;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        font-weight: 700;
      }
      .arrow-down {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 7.5px 0;
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
      }

      .circle_sides {
        height: 376px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media (max-width: 767px) {
          height: 245px;
        }

        .leftside,
        .rightside {
          height: 376px;
          position: relative;

          @media (max-width: 937px) {
            display: none;
          }

          img {
            height: 376px;
          }
        }

        .leftside {
          transform: rotate(180deg);
        }

        .circle-img {
          width: 372px;
          height: 372px;
          border-radius: 50%;
          // border: 4px solid transparent;
          transition: border 1.5s;
          background-color: inherit;
          will-change: transform;
          transform-origin: 50% 50%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border: 3px solid var(--orignal-border-color1);

          @media (max-width: 767px) {
            transform: translateX(-50%) scale(0.65);
          }

          img {
            will-change: transform;
            transform-origin: 50% 50%;
          }

          .time {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
            color: var(--orignal-test-1);
            font-family: 'dinpro';
            font-style: normal;
            font-size: 48px;
            line-height: 56px;
          }
        }

        .spinn {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50px);
          z-index: 1;

          .loadingio-spinner-ripple {
            width: 81px;
            height: 81px;
            display: block;
            overflow: hidden;

            .ldio {
              width: 100%;
              height: 100%;
              position: relative;
              transform: translateZ(0) scale(0.81);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              transform-origin: 0 0;

              div {
                position: absolute;
                border-width: 5px;
                border-style: solid;
                opacity: 1;
                border-radius: 50%;
                -webkit-animation: orignal-ldio 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
                animation: orignal-ldio 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
                box-sizing: content-box;

                &:first-child {
                  border-color: #fa305c;
                }

                &:nth-child(2) {
                  border-color: #1bb83d;
                  -webkit-animation-delay: -1s;
                  animation-delay: -1s;
                }
              }
            }
          }
        }
      }

      .ring-results {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 4;

        .ring-results__item {
          display: block;
          cursor: pointer;
          padding: 4px 0;
          position: relative;
          user-select: none;

          .result-popup {
            box-sizing: border-box;
            right: calc(100% + 20px);
            width: 108px;
            position: absolute;
            top: -10px;
            background: #1f2329;
            border-radius: 5px 0 0 5px;
            padding: 4px;
            border-right: 3px solid transparent;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-10px);
            transition: all 0.3s;
            z-index: 3;
            display: block;

            &::after {
              left: calc(100% + 3px);
              top: 9px;
              content: ' ';
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border: 6px solid transparent;
              margin-bottom: -6px;
            }

            p {
              -ms-word-break: break-all;
              word-break: break-all;
              word-break: break-word;
              -webkit-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              color: #fff;
              line-height: 15px;

              &:first-child {
                margin-bottom: 10px;
              }
            }
          }

          &:hover .result-popup {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
          }

          span {
            display: block;
            height: 2px;
          }

          &.gray {
            span {
              background-color: #5d6b8f;
              width: 21.5px;
            }

            .result-popup {
              border-color: #5d6b8f;

              &:after {
                border-left-color: #5d6b8f;
              }
            }
          }

          &.red {
            span {
              background-color: #fa305c;
              width: 28.5px;
            }

            .result-popup {
              border-color: #fa305c;

              &:after {
                border-left-color: #fa305c;
              }
            }
          }

          &.green {
            span {
              background-color: #32d54e;
              width: 36px;
            }

            .result-popup {
              border-color: #32d54e;

              &:after {
                border-left-color: #32d54e;
              }
            }
          }

          &.yellow {
            span {
              background-color: #e7c300;
              width: 44px;
            }

            .result-popup {
              border-color: #e7c300;

              &:after {
                border-left-color: #e7c300;
              }
            }
          }
        }
      }

      @media (max-width: 767px) {
        .ring-results {
          left: 0;
          right: auto;
          align-items: flex-start;
        }
      }
    }
  }

  .real-history {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 16px;

    .h5-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 55px;

      .title-row {
        display: flex;
        align-items: center;

        em {
          font-size: 18px;
          color: var(--orignal-test-1);
          font-weight: 700;
        }

        .img-bar {
          background: var(--orignal-operate-bg);
          border-radius: 4px;
          width: 40px;
          height: 21px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 8px;

          em {
            color: var(--orignal-test-2);
            font-size: 13px;
            margin-left: 4px;
          }
        }
      }
    }

    .item-container {
      display: block;
      overflow-y: auto;
      height: 200px;
      width: 100%;
      background: var(--orignal-mian);
      border: 1px solid var(--orignal-border-color1);
      border-radius: 10px;
      padding: 10px 12.5px 5px 20px;
      // flex-direction: column;

      .play-list {
        font-size: 13px;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Arial';
        // font-weight: bold;
        overflow-x: hidden;
        height: 34px;
        // @media (max-width: 767px) {
        border-bottom: 1px solid var(--orignal-border-color1);
        font-weight: 700;
        // }

        .name-part {
          justify-content: space-between;
          color: var(--orignal-test-1);
          flex-direction: row;
          display: flex;
          margin-right: 5px;

          // @media (max-width: 767px) {
          width: inherit;
          max-width: unset;
          // }

          .name {
            display: inline-block;
            // overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .gray {
            color: #5d6b8f;
          }

          .red {
            color: #fa305c;
          }

          .green {
            color: #32d54e;
          }

          .yellow {
            color: #e7c300;
          }
        }

        .money {
          justify-content: center;
          width: 120px;
          color: var(--orignal-test-1);
          flex-direction: row;
          display: flex;
          align-items: center;

          .currency-icon {
            width: 16px;
            height: 16px;
            display: block;
            object-fit: contain;
            margin-right: 4px;
          }
        }
      }
    }

    .empty {
      height: 200px;
      width: 100%;
      background: var(--orignal-mian);
      border: 1px solid var(--orignal-border-color1);
      border-radius: 10px;
      align-items: center;
      justify-content: center;

      span {
        font-weight: 500;
        font-size: 14px;
        color: var(--orignal-test-1);
      }
    }
  }
}

@keyframes orignal-ldio {
  0% {
    top: 45px;
    left: 45px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  to {
    top: 7.5px;
    left: 7.5px;
    width: 75px;
    height: 75px;
    opacity: 0;
  }
}
