:host {
  display: flex;
  align-items: center;
}

.tool-tip {
  .tip-text {
    display: inline-block;
    font-size: 14px;
  }
  .tip-img {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-left: 6px;
  }
}

.conversion-currency {
  display: flex;
  align-items: center;
}

.text-14 {
  font-size: 14px;
  color: var(--text-color-20);
}

.ml-6 {
  margin-left: 6px;
}

img {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}
