.disabled {
  opacity: 0.7;
  cursor: no-drop;
}

.btn-light-primary:hover::ng-deep path {
  fill: #fff !important;
}

.advance-search-wrap {
  > * {
    min-width: 280px;
  }
}

.radio-text{
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}