<div class="container">
  <!-- 密码重置 -->
  <div class="title">{{ 'password_reset' | translate }}</div>
  <!-- 新密码 -->
  <div class="form-group">
    <app-customize-input
      #newpwd
      [(value)]="password"
      type="password"
      label="{{ 'new_password' | translate }}"
      size="large"
      (onChange)="checkNewPwd()"
      [error]="password.length > 0 ? (newPwdValid.valid ? '' : ('pwd_error_msg' | translate)) : ''"
    >
      <i
        class="onact96-not"
        right-content
        [class]="newpwd.type === 'password' ? 'icon-pwd-hidden' : 'icon-pwd-show'"
        (click)="newpwd.type = newpwd.type === 'password' ? 'text' : 'password'"
      ></i>
    </app-customize-input>
    <!-- 错误浮框 -->
    <div class="valid-pop-container" *ngIf="newpwd.foc && !newPwdValid.valid">
      <div class="valid-pop">
        <p>* {{ 'pwd_length_error' | translate }}<i [class]="newPwdValid.v1 ? 'icon-correct' : 'icon-error'"></i></p>
        <p>* {{ 'pwd_digit_error' | translate }}<i [class]="newPwdValid.v2 ? 'icon-correct' : 'icon-error'"></i></p>
        <p>
          * {{ 'pwd_uppercase_letter_error' | translate
          }}<i [class]="newPwdValid.v3 ? 'icon-correct' : 'icon-error'"></i>
        </p>
      </div>
    </div>
    <div class="pwd-strength-container" *ngIf="password.length > 0">
      <div class="pwd-strength">
        <span [class.lv1]="newPwdValid.strength >= 1"></span>
        <span [class.lv2]="newPwdValid.strength >= 2"></span>
        <span [class.lv3]="newPwdValid.strength >= 3"></span>
        <span [class.lv4]="newPwdValid.strength >= 4"></span>
      </div>
      <div class="strength-tip">
        <ng-container [ngSwitch]="newPwdValid.strength">
          <ng-container *ngSwitchCase="1">{{ 'weak' | translate }}</ng-container>
          <ng-container *ngSwitchCase="3">{{ 'medium' | translate }}</ng-container>
          <ng-container *ngSwitchCase="2">{{ 'strong' | translate }}</ng-container>
          <ng-container *ngSwitchCase="4">{{ 'extremely_strong' | translate }}</ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-customize-input
      #repwd
      [(value)]="passwordConfirm"
      type="password"
      label="{{ 'con_pass00' | translate }}"
      size="large"
      (onChange)="checkRePwd()"
      [error]="passwordConfirm.length > 0 ? (rePwdValid.valid ? '' : ('pass_nomatch' | translate)) : ''"
    >
      <i
        class="onact96-not"
        right-content
        [class]="repwd.type === 'password' ? 'icon-pwd-hidden' : 'icon-pwd-show'"
        (click)="repwd.type = repwd.type === 'password' ? 'text' : 'password'"
      ></i>
    </app-customize-input>
  </div>
  <!-- 提交按钮 -->
  <customize-button size="large" type="primary" (onClick)="submit()" [loading]="submitLoading" [disabled]="!canSubmit">
    {{ 'sub' | translate }}
  </customize-button>
</div>
