//常见问题,公告中心
.support-list {
  margin-top: 48px;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }

  .list-container {
    margin: 8px -16px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      justify-content: space-between;
    }

    .list-item {
      padding: 17px 20px;
      display: flex;
      align-items: center;
      margin: 16px 16px 0 0;

      @media (max-width: 767px) {
        width: 45%;
      }

      @media (max-width: 350px) {
        width: 100%;
      }

      .list-img {
        width: 16px;
        height: 16px;
      }

      .list-title {
        font-size: 14px;
        color: var(--text-color);
        margin-left: 8px;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (max-width: 767px) {
          width: 100px;
        }
      }

      &:hover {
        border-radius: 4px;
        background-color: #f5f5f5;

        &:host-context(.dark) & {
          background-color: #2f4553;
        }

        .list-title {
          font-weight: 600;
        }
      }
    }
  }
}
