:host {
  height: 80px;
  max-width: 300px;
  border-radius: 10px;
  background: #f7f7f7;
  min-width: 216px;
  flex: 1 1 216px;
  white-space: nowrap;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: flex;
  align-items: center;

  .icon {
    width: 25px;
    height: 25px;
  }
}
