:host {
  border-radius: 10px;
  background: #f7f7f7;
  min-width: 256px;
  height: 130px;
  flex: 1 1 256px;
  white-space: nowrap;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: block;
}
