.detail-header {
  .btn {
    width: 126px;
    text-align: center;
  }

  .btn.btn-white {
    color: #a1a5b7;
  }
}

.detail-title {
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
}

.snap {
  flex: 1;
  height: 223px;
  margin: 0 20px;
  background: #f5f8fa;
  border-radius: 14px;

  &-wrap {
    padding: 12px 20px;
    margin-bottom: 10px;
  }
}

.paragraph {
  font-size: 16px;
  line-height: 22px;
  display: block;
  height: 100%;
  min-height: 42px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.helper {
  margin-bottom: 60px;

  upload {
    height: 200px;
    flex: 0 0 180px;
    width: 180px;
  }
}

form-row {
  &::ng-deep {
    .form-content {
      > span {
        word-break: break-all;
        display: inline-block;
        line-height: 26px;
        padding-top: 8px;
      }
    }
  }
}
