:host {
  .title {
    white-space: nowrap;
    font-size: 16px;
    color: #969bad;
  }

  .group-name {
    margin-left: 15px;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }

  table {
    th {
      font-weight: normal;
    }

    tbody {
      td {
        line-height: 34px;
      }
    }
  }
}

.card-body {
  padding: 30px;
}

.list {
  .title {
    color: #181c32;
    font-size: 20px;
  }

  .edit {
    padding: 8px 13px;
    line-height: 20px;
    font-size: 14px;
    background-color: #f5f8fa;
    cursor: pointer;
    color: #7e8299;
    transition: all 0.2s linear;
    border-radius: 6px;

    &:hover {
      color: #7e8299;
      background-color: #e4e6ef;
    }
  }

  .checkbox {
    transform: scale(1.2);
  }

  .paginator {
    ::ng-deep {
      .form-control,
      .react-bootstrap-table-pagin {
        display: none;
      }
    }
  }
}

.vam {
  vertical-align: middle;
}

.tag {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 6px;

  & + & {
    margin-left: 10px;
  }

  &-success {
    color: #50cd89;
    background-color: #e8fff3;
  }
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #a1a5b7;
  margin-top: 4px;

  &.active {
    border-bottom: 4px solid #3699ff;
  }
}

#triangle-down {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #a1a5b7;

  &.active {
    border-top: 4px solid #3699ff;
  }
}
.triangle {
  margin-left: 5px;
}

.status-title {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .mat-slide-toggle-bar {
  height: 22px;
  width: 43px;
}

:host ::ng-deep .mat-slide-toggle-thumb-container {
  top: 1px;
}
:host
  ::ng-deep
  .mat-slide-toggle.mat-checked
  .mat-slide-toggle-thumb-container {
  transform: translate3d(20px, 0, 0);
}
:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #3699ff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

:host ::ng-deep .mat-slide-toggle-bar {
  border-radius: 10px;
}

.table {
  .is-more {
    .more_icon:after {
      transform: rotate(225deg) /*rtl:ignore*/;
      margin-left: 3px;
      margin-top: 2px;
    }
  }

  .btn-default {
    color: #7e8299;
  }
}

.show_more {
  color: #009ef7;
  cursor: pointer;
  font-size: 12px;
}
.more_icon {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.more_icon:after {
  width: 8px;
  height: 8px;
  content: "";
  border-color: #009ef7;
  border-style: solid;
  border-width: 0 1px 1px 0 /*rtl:ignore*/ !important;
  transform: rotate(45deg) /*rtl:ignore*/;
  margin-top: -5px;
  margin-left: 3px;
  transition: transform 0.3s linear;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.space-between {
  justify-content: space-between;
}
