.card-body {
  padding-top: 20px;
  .new-cc-tab {
    display: flex;
    flex-wrap: wrap;
    .card-tab-cell {
      height: 36px;
      padding: 0 8px;
      border-radius: 6px;
      border: dashed 1px #e4e6ef;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin: 0 0 10px 20px;
      color: #3f4254;
      margin-bottom: 10px;
      .tab-cc-title {
        color: #a1a5b7;
        margin-right: 6px;
      }
    }
    .card-tab-title {
      padding-top: 6px;
    }
  }
}

.red-text {
  color: #f1416c;
}
.success-text {
  color: #50cd89;
}
::ng-deep {
  .lottery-edit-modal {
    mat-dialog-container {
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
    .modal-body {
      align-items: unset;
      .code-box {
        max-width: 500px;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        input[type='number'] {
          -moz-appearance: textfield;
        }
      }
    }
    .label-title {
      @extend .color-999 !optional;
      flex: 0 0 110px;
      line-height: 42px;
    }

    .lh-42 {
      line-height: 42px;
    }
  }
}
