<div class="member-select">
  <div class="modal-header">
    <div class="modal-title h4">选择成员</div>

    <div class="c-btn-close" (click)="modal.dismiss()">
      <svg-icon [src]="'./assets/images/svg/admin-close.svg'" class="svg-icon menu-icon"></svg-icon>
    </div>
  </div>

  <select-group
    value="id"
    label="userName"
    [(select)]="selected"
    emptyText="无成员"
    [data]="list"
    [scrollHeight]="260"
    [showSelectAll]="false"
  ></select-group>

  <div class="modal-footer btn-wrap">
    <button class="c-btn c-btn-default" (click)="close()">取消</button>
    <button class="c-btn c-btn-primary" (click)="next()">确定</button>
  </div>
</div>
