<div class="page-container">
  <app-scrollbar>
    <div class="main-container unity-padding-web part1">
      <div class="container">
        <img class="web-b1" src="assets/images/activity/s12lol/b1.svg" />
        <img class="h5-b1" src="assets/images/activity/s12lol/b1_h5.svg" />
        <div class="video-iframe-container">
          <iframe
            frameborder="0"
            src="https://v.qq.com/txp/iframe/player.html?vid=d3355jbxu63"
            allowFullScreen="true"
          ></iframe>
        </div>
      </div>
    </div>
    <div class="main-container unity-padding-web partition">
      <div class="container">
        <img src="assets/images/activity/s12lol/partition.svg" />
      </div>
    </div>
    <div class="main-container unity-padding-web part2">
      <div class="container">
        <img src="assets/images/activity/s12lol/b2.svg" />
        <img src="assets/images/activity/s12lol/calendar.svg" />
      </div>
      <div class="container competition">
        <div class="left"></div>
        <div class="right">
          <div class="right-container">
            <div class="tit">
              <!-- <img src="assets/images/activity/s12lol/group_tit.svg"> -->
              <!-- <img src="assets/images/activity/s12lol/group_tit_2.svg"> -->
              <img src="assets/images/activity/s12lol/group_tit_3.svg" />
            </div>
            <!-- <img src="assets/images/activity/s12lol/1.png">
            <img src="assets/images/activity/s12lol/2.png">
            <img src="assets/images/activity/s12lol/3.png">
            <img src="assets/images/activity/s12lol/4.png">
            <img src="assets/images/activity/s12lol/5.png">
            <img src="assets/images/activity/s12lol/6.png">
            <img src="assets/images/activity/s12lol/7.png">
            <img src="assets/images/activity/s12lol/8.png"> -->
            <!-- <img src="assets/images/activity/s12lol/9.png"> -->
            <img src="assets/images/activity/s12lol/10.png" />
          </div>
        </div>
      </div>
    </div>
  </app-scrollbar>
</div>
