<div class="main-container unity-padding-web unity-padding-h5-16">
  <div class="container concept-container">
    <p class="text-20">{{ 'res_ch' | translate }}</p>
    <p class="text-16-14 m-top-20">{{ 'respon_ch' | translate }}</p>
    <p class="text-20 m-top-40">{{ 'respon_ci' | translate }}</p>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cj' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_ck' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cl' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cm' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cn' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_co' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cp' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cq' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cr' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_cs' | translate }}
      </p>
    </div>
    <div class="content-text">
      <i class="icon-fail"></i>
      <p class="text-one">
        {{ 'respon_ct' | translate }}
      </p>
    </div>

    <p class="text-16 m-top-40">{{ 'respon_cu' | translate }}</p>

    <div class="flex-layout m-top-20">
      <customize-button minWidth="100px" type="text" [plain]="true" [active]="true" (onClick)="commingSoon()">
        {{ 'respon_cv' | translate }}
      </customize-button>
    </div>
  </div>
</div>
