.area-box {
  height: 400px;
  .item {
    height: 64px;
    cursor: pointer;
    .country-image {
      width: 28px;
      height: 28px;
      .countryIcon {
        transform: scale(calc(28 / 48));
      }
    }
    &:hover {
      background-color: #f5f5f5;
    }
  }
}
