.page-container {
  z-index: 2;
  padding-bottom: 120px;

  @media (max-width: 767px) {
    padding-bottom: 48px;
  }

  .main-container {
    padding-left: 3vw;
    padding-right: 3vw;
    overflow: hidden;

    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.display-container {
  height: 1084px;
  margin-top: 30px;
  padding: 22px 10px 10px;
  background-color: var(--default-border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    margin-top: 15px;
    border-radius: 8px;
    padding: 8px 5px 5px;
    height: 670px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  border-radius: 16px;
  @media (max-width: 767px) {
    border-radius: 8px;
    padding: 0 10px;
  }
}

.before-iframe-container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  @media (max-width: 767px) {
    border-radius: 8px;
  }
}

.error-tip {
  color: var(--txt-err-color);
  padding: 10px 0;
  @media (max-width: 767px) {
    text-align: center;
    line-height: 1.48;
  }
}

iframe,
.iframe-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  @media (max-width: 767px) {
    border-radius: 8px;
  }
  &.non-border {
    border-radius: 0;
    iframe {
      border-radius: 0;
    }
  }
}

iframe {
  transform: scale(1.01);
  @media (max-width: 767px) {
    transform: scale(1);
  }
}

.iframe-container {
  background: url(src/assets/images/game_loading.gif) center center no-repeat #000000;
}

.currency-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sport-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--text-color);
  }

  .name-loading {
    width: 64px;
    height: 22px;
  }

  .currency-loading {
    width: 120px;
    height: 22px;
  }

  .setting {
    display: flex;
    align-items: center;
    flex-direction: column;

    > * + * {
      margin-top: 10px;
    }

    .selected-currency {
      display: flex;
      align-items: center;

      > * + * {
        margin-left: 10px;
      }

      label {
        font-size: 12px;
        color: var(--text-color-20);
      }
    }
  }
}

.coin-drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;

  > * + * {
    margin-left: 10px;
  }

  > div {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: 6px;
    }

    span {
      font-size: 14px;
      color: var(--text-color);
    }

    img {
      width: 14px;
      height: 14px;
      object-fit: contain;
      margin-top: 2px;
    }
  }

  > i {
    font-size: 90%;
    color: var(--text-color);
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.select-coin-container {
  position: relative;
  filter: drop-shadow(0 -1px 6px rgba(0, 0, 0, 0.05));

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
  }

  .select-coin-list {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-height: 40vh;
    overflow-y: auto;

    > div {
      height: 34px;
      display: flex;
      align-items: center;
      padding: 0 17px 0 14px;
      cursor: pointer;
      transition: 0.2s;
      flex-shrink: 0;
      user-select: none;

      > * + * {
        margin-left: 5px;
      }

      img {
        width: 14px;
        height: 14px;
        object-fit: contain;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--secondary-color);
        }
      }

      @media (any-hover: none) {
        &:active {
          color: var(--secondary-color);
        }
      }
    }
  }
}

::ng-deep {
  .select-coin-show-in-down {
    .select-coin-container {
      margin-top: 15px;

      &::after {
        top: -10px;
        border-bottom: 5px solid #fff;
      }
    }
  }

  .select-coin-show-in-up {
    .select-coin-container {
      margin-bottom: 15px;

      &::after {
        bottom: -10px;
        border-top: 5px solid #fff;
      }
    }
  }
}
