// @use '~src/assets/styles/compatibility-fixe.scss' as polyfills;

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
}

.m-bottom-0 {
  margin-bottom: 0 !important;
}

.break-word {
  word-break: break-all;
  line-height: 1.48;
}

.crypto-fiat {
  font-size: 16px;
  padding: 20px 0 30px;
  .primary-text {
    color: var(--primary-color);
  }
}

.container {
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 80px;
  justify-content: space-between;
  // margin-top: -20px;
  // margin-left: -30px;

  // ::ng-deep {
  //   customize-button {
  //     margin-left: 13px;
  //     margin-top: 10px;
  //   }
  // }

  @media (max-width: 767px) {
    flex-direction: column;
    padding-top: 0;
  }

  .left {
    margin-top: 20px;
    // margin-left: 30px;
    flex-direction: column;
    flex: 1;

    .laber-liner {
      flex-direction: row;
      align-items: center;

      @media (max-width: 767px) {
        width: 100%;
      }

      .laber {
        background-color: var(--primary-color);
        width: 4px;
        height: 16px;
      }

      .txt {
        font-size: 14px;
        // color: #707a8a;
        color: var(--text-color-20);
        padding: 0 20.5px 0 9px;
        white-space: nowrap;
      }

      .liner {
        // background-color: #eaecef;
        background-color: var(--default-border-color);
        height: 1px;
        flex: 1;
      }
    }

    //--存款金额-->
    .amount-box {
      padding: 20px 0 30px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      // @include polyfills.flex-gap(10px, 'row wrap');
      > *:not(:last-child) {
        margin-right: 10px;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        > *:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .bold-txt {
        color: var(--secondary-color);
        font-size: 24px;
        font-weight: 500;
        white-space: nowrap;
      }

      .details-row {
        font-size: 14px;
        color: var(--text-color-20);
        align-items: center;
        white-space: nowrap;
        // @include polyfills.flex-gap(10px, 'row wrap');
        > *:not(:last-child) {
          margin-right: 10px;
        }

        flex-wrap: wrap;

        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }

    //--支付方式-->
    .payway-box {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0 30px;

      customize-button {
        margin-bottom: 20px;
      }

      .bank-name {
        margin-bottom: 20px;
        // border: solid 1px #eaecef;
        border: 1px solid var(--default-border-color);
        height: 37px;
        padding-left: 8px;
        padding-right: 8px;
        align-items: center;

        .icon-style {
          width: 18px;
          height: 18px;
          margin-right: 8px;
          background-size: 100%;
          background-repeat: no-repeat;
        }

        .txt {
          font-size: 14px;
          // color: #1e2329;
          color: var(--text-color);
        }
      }

      .unBank-box {
        align-items: center;
        background-color: var(--primary-color-opacity-03);
        padding: 25px;
        font-size: 14px;
        // color: #1e2329;
        color: var(--text-color);

        &:host-context(.dark) & {
          background-color: var(--bg-color-10);
        }

        @media (max-width: 767px) {
          padding: 16px 0 21px 20px;
        }
      }

      .bank-infor {
        padding: 20px;
        border-radius: 12px;
        background-color: var(--primary-color-opacity-03);
        width: 100%;
        flex-direction: column;
        justify-content: center;
        // @include polyfills.flex-gap(16px, 'column nowrap');
        > * + * {
          margin-top: 16px;
        }

        &:host-context(.dark) & {
          background-color: var(--bg-color-10);
        }

        @media (max-width: 767px) {
          padding: 15px 20px;
          height: 100%;
        }

        &.small {
          height: fit-content;
          // color: #1e2329;
          color: var(--text-color);
          font-size: 14px;
        }

        .infor-row {
          // color: #1e2329;
          color: var(--text-color);
          font-size: 14px;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 767px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }

          > div {
            align-items: center;
          }

          .txt-lg {
            font-size: 18px;
          }

          .copy {
            height: 20px;
            color: var(--secondary-color);
            font-size: 14px;
            border: solid 1px var(--secondary-color);
            padding: 2px 9px;
            cursor: pointer;
            white-space: nowrap;

            @media (max-width: 767px) {
              margin-top: 12px;
            }
          }

          .h5-copy {
            display: none;
            color: var(--secondary-color);

            @media (max-width: 767px) {
              display: flex;
            }
          }
        }
      }
    }

    //--备注信息-->
    .remark-box {
      font-size: 14px;
      flex-direction: column;
      padding: 20px 0 30px;

      .basic-infor {
        width: 100%;
        background-color: var(--primary-color-opacity-03);
        border-radius: 6px;
        padding: 12px 20px;

        // color: #707a8a;
        color: var(--text-color-20);
        line-height: 1.43;

        &:host-context(.dark) & {
          background-color: var(--bg-color-10);
        }

        em {
          white-space: nowrap;
        }

        .txt-blud {
          color: var(--secondary-color);
        }
      }

      .nomal-remark-txt {
        // color: #707a8a;
        color: var(--text-color-20);
        padding-bottom: 20px;
      }
    }

    //--备注详情-->
    .remark-card {
      flex-direction: row;
      font-size: 14px;
      // @include polyfills.flex-gap(10px, 'row nowrap');
      padding-bottom: 20px;
      > * + * {
        margin-left: 10px;
      }
      > div {
        flex: 1;
        // @include polyfills.flex-gap(10px, 'row nowrap');
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        > * + * {
          margin-left: 10px;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .colunm-infor {
        flex-direction: column;
        // color: #1e2329;
        color: var(--text-color);
        flex: 1;

        .title {
          // color: #707a8a;
          color: var(--text-color-20);
          padding-bottom: 10px;
        }
      }
    }

    //订单提交状态

    .card-box {
      width: 100%;
      border-radius: 12px;
      background-color: #fafafa;
      padding: 20px;
      flex-direction: row;
      justify-content: space-between;

      &:host-context(.dark) & {
        background-color: var(--bg-color-10);
      }

      .clounm {
        flex-direction: column;
        // @include polyfills.flex-gap(10px, 'column nowrap');
        flex: 1;
        > * + * {
          margin-top: 10px;
        }

        .top {
          color: var(--primary-color);
          align-items: center;

          .txt-orange {
            font-size: 20px;
            font-weight: 500;
          }

          span.txt-orange-liner {
            width: 19px;
            height: 2px;
            background-color: var(--primary-color);
          }
        }

        .down {
          align-items: center;
          // @include polyfills.flex-gap(10px, 'row wrap');
          flex-wrap: wrap;
          > *:not(:last-child) {
            margin-right: 10px;
          }

          .bold-txt {
            font-size: 24px;
            font-weight: 500;
            height: 40px;
            display: flex;
            align-items: center;
            white-space: nowrap;
          }

          .notice {
            // color: #707a8a;
            color: var(--text-color-20);
            font-size: 14px;
            margin-right: auto;
          }
        }

        .redeposit-info {
          margin-top: 10px;
          font-size: 18px;
          color: var(--primary-color);
        }
      }
    }
  }

  .right {
    margin-top: 20px;
    margin-left: 30px;
    //重要提示标题
    flex-direction: column;
    width: 28%;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 767px) {
      max-width: none;
    }

    .title {
      font-size: 24px;
      color: #000000;
      font-weight: bold;
      padding-bottom: 26px;

      @media (max-width: 767px) {
        font-size: 12px;
        font-weight: normal;
        // color: #1e2329;
        color: var(--text-color);
        padding-bottom: 11px;
      }
    }

    .link-txt {
      color: var(--primary-color);
    }

    .txt-row {
      padding-bottom: 10px;
      display: flex;
      // color: #707a8a;
      color: var(--text-color-20);
      line-height: 1.43;
      font-size: 14px;
      text-align: left;

      @media (max-width: 767px) {
        padding-left: 12px;
        font-size: 12px;
      }
    }
  }
}
