<div class="fz-20 d-flex justify-content-between">
  <span class="flex-1">{{ activityService.getLangText(activityType) }}</span>
  <button *ngIf="allowEdit" type="button" class="btn btn-light-primary ml-4" (click)="onEdit()">
    {{ 'common.edit' | lang }}
  </button>
  <button type="button" class="btn btn-light-primary ml-4" (click)="onBack()">
    {{ 'common.cancel' | lang }}
  </button>
</div>

<div class="step-wrap mb-6">
  <div
    class="step-item"
    *ngFor="let item of steps; index as i"
    [class.finished]="i < stepIndex"
    [class.active]="i === stepIndex"
  >
    <div class="step-num">
      <span class="step-num-text">{{ i + 1 }}</span>
      <svg-icon class="step-num-finished text-primary lh-1" [src]="'./assets/images/svg/finished.svg'"></svg-icon>
    </div>
    <div class="step-text">{{ item.code | lang }}</div>
    <div class="step-line"></div>
  </div>
</div>

<router-outlet></router-outlet>
